<!--
   TEMPLATE INDEX - DEV:
   Este template se usa solo en el ambiente de desarrollo (development)
-->
<head>
   <!-- INCLUDE BASE HEAD CONTENT -->
   <%= require('html-loader!./src/html/master/dev/head.html') %>
   <% for (key in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
      <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"
         integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
         crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
      <% } else { %>
      <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
      <% } %>
   <% } %>
   <%= require('html-loader!./src/html/layouts/section-styles-inline.html') %>
</head>
<!-- INCLUDE BASE HEADER -->
<%= require('html-loader!./src/html/master/dev/header.html') %>

<main id="main">
   <div class="container">

   <!-- START: REQUIRE INTRO SECTION -->
   <%= require('html-loader!./src/html/layouts/section-intro.html') %>
   <!-- END: REQUIRE INTRO SECTION -->

   <!-- START: REQUIRE PRODUCT COUNTDOWN -->
   <%= require('html-loader!./src/html/layouts/section-daily-deals.html') %>
   <!-- END: REQUIRE PRODUCT COUNTDOWN -->

   <!-- START: REQUIRE LATEST PRODUCTS -->
   <%= require('html-loader!./src/html/layouts/section-latest-products.html') %>
   <!-- END: REQUIRE LATEST PRODUCTS -->

   <!-- START: REQUIRE SECTION PROMOS 1 -->
   <%= require('html-loader!./src/html/layouts/section-promotions.html') %>
   <!-- END: REQUIRE SECTION PROMOS 1 -->

   <!-- START: REQUIRE PRODUCT TAB PANEL -->
   <%= require('html-loader!./src/html/layouts/section-product-panel.html') %>
   <!-- END: REQUIRE PRODUCT TAB PANEL -->

   <!-- START: REQUIRE NEWS -->
   <%= require('html-loader!./src/html/layouts/section-news.html') %>
   <!-- END: REQUIRE NEWS -->

   <!-- START: REQUIRE OUR BRANDS -->
   <%= require('html-loader!./src/html/layouts/section-our-brands.html') %>
   <!-- END: REQUIRE OUR BRANDS -->

   <!-- START: REQUIRE OTHERS -->
   <%= require('html-loader!./src/html/layouts/section-others.html') %>
   <!-- END: REQUIRE OTHERS -->

   <!-- START: REQUIRE OUR BENEFITS -->
   <%= require('html-loader!./src/html/layouts/section-our-benefits.html') %>
   <!-- END: REQUIRE OUR BENEFITS -->

   </div>
</main>
<!-- INCLUDE BASE FOOTER -->
<%= require('html-loader!./src/html/master/dev/footer.html') %>

<% for (key in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" charset="utf-8" type="text/javascript"></script>
<% } %>