@import './../variables';

.fbra_seeAllCategoryItem {
   /*&:before {
      content: '';
      position: absolute;
      width: 103%;
      bottom: -3px;
      height: 44px;
      opacity: .2;
      z-index: 0;
      background-image: url('../assets/img/icons/logo-cat.png') !important;
      background-repeat: no-repeat !important;
      background-position: 84% 104% !important;
   }*/
   > a {
      > span {
         padding: 0 12px;
         font-size: 1.5rem;
         line-height: 1.9rem;
         margin-bottom: 10px;
      }
   }
}

.mobile-see-all-category-btn {
   font-size: 0.75em;
   margin-top: 20px;
   a {
      display: block;
      width: calc(100% - 30px);
      margin: auto;
      letter-spacing: 1px;
      background: $brandSecondary;
      padding: 12px 14px;
      color: #fff;
      border-radius: 4px;
      border-bottom: 4px #bd0b25 solid;
      span {
         &:first-child {
            font-size: .85em;
            margin-bottom: 3px;
         }
      }
   }
}

.prodItem_tagDiscount {
   position: absolute;
   background: $brandSecondary;
   color: $colorWhite;
   padding: 2px 8px;
   font-weight: 600;
   font-size: 1.4rem;
   top: 65%;
   right: -3px;
}