@import './../variables';

.content-daily-deals {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px #ddd solid;
    transition: ease-in-out .2s;
    @media (min-width: $bp-small + 1px){
        flex-wrap: nowrap;
        border-radius: 3px;
    }
    @media (max-width: $bp-small) {
        border-left: 0;
        border-right: 0;
        .daily-deals-container:nth-child(1) {
            order: 2;
            border-left: 0;
        }
        .daily-deals-container:nth-child(3) {
            order: 3;
            border-right: 0;
        }
    }
}
.daily-deals-container {
    min-height: 231px;
    flex-basis: 50%;
    padding: .75rem;
    position: relative;
    border-left: 1px $greyLight solid;
    border-top: 1px $greyLight solid;
    background: $colorWhite;
    @media (min-width: $bp-xxsmall + 20px) {
        padding: 12px;
    }
    .ddeals-loading {
        display: flex;
        opacity: 0;
        background: $colorWhite;
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        align-items: center;
        justify-content: center;
        transition: ease-in-out .35s;
    }
    &.is-loading {
        .ddeals-loading {
            opacity: 1;
        }
    }
    @media (min-width: $bp-small + 1px) {
        width: 35.555%;
        border: 0;
    }
}

.ddeals-countdown {
    display: flex;
    background: $brandPrimary;
    color: $colorWhite;
    @media (max-width: $bp-small) {
        order: 1;
    }
}

.ddeals-countdown-time-box {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    @media (min-width: $bp-small + 1px) {
        width: 45px;
    }
}

.ddeals-countdown-time-separator {
    display: inline-block;
    vertical-align: top;
}

.ddeals-countdown-time-value {
    display: block;
    position: relative;
    z-index: 1;
    background: $colorWhite;
    color: $brandPrimary;
    letter-spacing: 4px;
    padding-left: 4px;
    border-radius: 2.5px;
    box-shadow: -4px 0 12px -3px rgba(0, 0, 0, .3);
    @media (min-width: $bp-small + 1px) {
        font-size: 2.3rem;
        letter-spacing: 6px;
        padding-left: 6px;
        border-radius: 2.5px;
    }
    &:before {
        content: '';
        display: none;
        position: absolute;
        left: -13%;
        top: 0;
        bottom: 0;
        width: 49%;
        background: #000;
        z-index: -1;
    }
    &:after {
        display: none;
        content: '';
        position: absolute;
        right: -13%;
        top: 0;
        bottom: 0;
        width: 49%;
        background: #000;
        z-index: -1;
    }
}

.ddeals-countdown-time-measure {
    font-size: .85rem;
    line-height: 1.7rem;
}

.ddeals-text-offerends {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 23%;
    display: inline-block;
    vertical-align: middle;
    @media (min-width: $bp-xsmall + 1px) {
        width: auto;
    }
    @media (min-width: $bp-small + 1px) {
        margin-bottom: 5px;
    }
}

.ddeals-countdown-wrapper {
    width: 42%;
    display: inline-block;
    vertical-align: middle;
    @media (min-width: $bp-xsmall + 1px) {
        width: auto;
        padding: 0 15px;
    }
}

.ddeals-text-hurryup {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
    @media (min-width: $bp-xsmall + 1px) {
        width: auto;
    }
}

.ddeals-countdown-heading {
    display: none;
    @media (min-width: $bp-small + 1px) {
        display: block;
        margin-bottom: 12px;
        span:nth-child(1) {
            font-size: 3rem;
            line-height: 3.2rem;
        }
        span:nth-child(2) {
            font-size: 4.3rem;
            line-height: 3.5rem;
        }
    }
}

.daily-deals-countdown {
    padding: 11px 12px 8px;
    width: 100%;
    background: $brandPrimary;
    @media (min-width: $bp-small + 1px) {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ddeals-price-secondary {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.ddeals-name {
    font-size: 1.5rem;
    line-height: 1.8rem;
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ddeals-content-image {
    overflow: hidden;
    @media (min-width: $bp-small + 1px) {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }
}

.ddeals-image {
    width: 120px;
    height: 120px;
    @media (min-width: $bp-xxsmall) {
        width: auto;
        height: auto;
    }
}

.ddeals-content-info {
    @media (min-width: $bp-small + 1px) {
        display: inline-block;
        width: 48%;
        vertical-align: middle;
    }
}

.ddeals-btn-cta {
    width: 100%;
    margin-top: 10px;
    border-radius: 2.5px;
    @media (min-width: $bp-small + 1px) {
        width: auto;
        float: right;
    }
}

.ddeals-promo-badge {
    span {
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.is-cmr.is-combo {
        .ddeals-promo-badge-combo {
            visibility: hidden;
        }
    }
    &.is-cmr {
        .ddeals-promo-badge-cmr {
            width: 92px;
            height: 17px;
            margin-right: 10px;
            background-image: url('../assets/img/imbatible-logo.png');
        }
    }
    &.is-combo {
        .ddeals-promo-badge-combo {
            width: 69px;
            height: 19px;
            background-image: url('../assets/img/combo-logo.png');
        }
    }
}

.ddeals-link {
    &:hover {
        color: rgba($color: #000000, $alpha: .6);
    }
}