@import './../variables';

.section-night-products {
    &.feed-products {
      .swiper-wrapper {
          height: 385px;
      }
      .swiper-pagination {
        display: none;
      }
      .swiper-custom-button {
        display: block;
      }
    }
    .swiper-container {
      &.swiper-custom-carousel {
        .swiper-custom-button {
          display: block;
        }
      }
    }
}

  .feed-product-progress {
    height: 8px;
    background: #eee;
    border-radius: 8px;
    position: relative;
  }

  .feed-product-brand {
    height: 13px;
    margin-bottom: 7px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .feed-product-name {
    height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .feed-product-progress span {
    position: absolute;
    height: inherit;
    width: 100%;
    left: 0;
    background: rgba(221, 0, 33, 0.7);
    border-radius: 8px 0 0 8px;
  }
  
  .feed-product-info {
    letter-spacing: 1px;
  }
  
  .feed-products {
    overflow: hidden;
    .swiper-container {
      min-height: 350px;
      padding-bottom: 45px;
      margin-bottom: 10px;
      padding-top: 5px !important;
    }
    .swiper-pagination {
      left: initial;
      margin: 0;
      position: relative;
      bottom: 0;
      padding: 12px 0;
    }
    .swiper-slide {
      max-width: none !important;
      width: 80% !important;
      @media (min-width: $bp-xsmall + 1px) {
        width: calc(100% / 2.3) !important;
      }
      @media (min-width: $bp-small + 1px) {
        width: calc(100% / 4.08) !important;
      }
      @media (min-width: $bp-medium + 1px) {
        width: calc(100% / 5.08) !important;
      }
    }
    .swiper-wrapper {
      height: 435px;
    }
    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
    }
    .swiper-pagination-bullet-active {
        background-color: $brandPink;
    }
    .swiper-custom-button {
        background: rgba(0, 0, 0, 0.3);
    }
  }

  .feed-product-sale-percentage {
      font-size: 1.2rem;
  }

  .feed-product-price-savings,
  .feed-product-price-secondary {
      line-height: 1.5rem;
      margin-bottom: 3px !important;
  }
  .feed-product-price-primary {
    margin-bottom: 10px!important;
    font-size: 2.1rem!important;
    display: inline-block;
    padding: 3px 5px;
    background: $brandSecondary;
    color: #fff;
    margin-top: 5px !important;
  }
  
  .feed-product-prices {
    color: #000;
    padding-top: 17px;
    .c-icon {
        position: absolute;
        top: 0;
    }
  }
  
  .feed-product-name {
    font-size: .88em !important;
    line-height: 1.1em !important;
    letter-spacing: 1px !important;
    margin-bottom: 8px !important;
  }
  
  .feed-product-item {
    padding: 12px 15px;
    background: #fff;
    box-shadow: 0 1px 10px -4px rgba(0, 0, 0, 0.35);
    height: 100%;
  }
  
  @media (max-width: 800px) {
    .feed-products .swiper-container {
      overflow: visible;
    }
  }
  
  @media (max-width: 480px) {
    .feed-products .swiper-slide {
      width: 90% !important;
    }
  }

  .centrEfecto{
    text-align: center;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}

.scape {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.scapeFirst:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

.scapeLast:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.scapeLast:last-of-type span {
  margin-left:-200px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-600px; }
    20% { margin-left:-600px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:200px;}
    80% {opacity:1;}
    100% {opacity:0;width:200px;}
}

.swiper-feedproducts-button-prev,
.swiper-feedproducts-button-next {
  display: block !important;
}