@import './../mixins';
@import './../variables';

$paginationHeightDesktop: 55px;
$paginationWithContentBreakpoint: 915px;

.section-intro-logo {
    height: 47px;
    background-image: url('https://sodimac.scene7.com/is/image/SodimacPeru/logo-mb-winner?fmt=png-alpha&wid=242&hei=50');
    background-position: center -7px;
    background-repeat: no-repeat;
    border-top: 5px $brandPink solid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @media (max-width: $bp-small) {
        background-color: #2b8cae;
    }
    @media (min-width: $bp-small + 101px) {
        height: 67px;
        background-image: url('https://sodimac.scene7.com/is/image/SodimacPeru/logo-winner?fmt=png-alpha&wid=1200&hei=80');
    }
}

.supports-webp {
    .section-intro-bg {
        background-image: url('https://sodimac.scene7.com/is/image/SodimacPeru/fondo-winner?fmt=webp&wid=1920&hei=450');
    }    
}

.section-intro-bg {
    background-image: url('https://sodimac.scene7.com/is/image/SodimacPeru/fondo-winner?wid=1920&hei=450');
    background-position: center -10px;
    background-repeat: repeat no-repeat;
    background-size: 100% 450px;
    padding-top: 47px;
    @media (min-width: $bp-small + 101px) {
        padding-top: 67px;
    }
}

.swiper-slider-intro {
    width: 100%;
    height: auto;
    @media (min-width: $paginationWithContentBreakpoint + 1px) {
        padding-bottom: $paginationHeightDesktop;
    }

    .swiper-wrapper {
        height: auto;
    }

    .swiper-slide {
        height: auto;
    }

    .swiper-pagination {
        @media (min-width: $paginationWithContentBreakpoint + 1px) {
            bottom: 0;
            display: flex;
            border-bottom: 1px $greyLighter solid;
            box-shadow: 0px -6px 30px -13px rgba(0, 0, 0, 0.62);
        }
        @media (max-width: $paginationWithContentBreakpoint) {
            //@include horizontalScroll()
            text-align: center;
        }
    }
    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            transition: ease-in-out .15s;
            @media (min-width: $paginationWithContentBreakpoint + 1px) {
                margin: 0;
                border-radius: 0;
                height: $paginationHeightDesktop;
                padding: 10px 12px;
                width: calc(100% / 5);
                opacity: 1;
                float: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                background: $colorWhite;
                border-bottom: 3px transparent solid;
            }
            &.swiper-pagination-bullet-active {
                @media (min-width: $paginationWithContentBreakpoint + 1px) {
                    //background: $greyLight;}
                    border-bottom: 3px $brandPrimary solid;
                }
            }
        }
    }

    .swiper-slide-image {
        padding-bottom: 74%;
        transition: ease-in-out .15s;
        background-position: center;
        background-size: 100%;
        @media (min-width: $bp-xsmall + 21px) {
            padding-bottom: 46%;
        }
        @media (min-width: $bp-small + 101px) {
            padding-bottom: 370px;
            background-size: auto 370px;
            background-repeat: no-repeat;
        }
    }

    .slider-intro-nav-description {
        display: none;
        @media (min-width: $paginationWithContentBreakpoint + 1px) {
            display: block;
            font-size: 1.2rem;
            line-height: 1.3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .slider-intro-nav-price {
        display: none;
        @media (min-width: $paginationWithContentBreakpoint + 1px) {
            display: block;
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }
}