@import './../variables';

$navbarHeight: 60px;

.section-main-navbar {
    @media (min-width: $bp-medium + 1px) {
      display: none;
    }
    .main-navbar-heading {
      position: fixed;
      height: $navbarHeight;
      overflow: hidden;
      top: 57px;
      z-index: 200;
      left: 0;
      right: 0;
      font-size: 25px;
      background: $brandSecondary;
      box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
    }

    .main-navbar-logo {
        width: calc(100% - 150px);
        height: inherit;
        float: left;
        background-image: url('../assets/img/img-logos/logo_preventa_mb-1.png');
        background-repeat: no-repeat;
        background-size: auto 35px;
        background-position: 4px center;
        @media (min-width: $bp-xsmall + 120px) {
           background-image: url('../assets/img/img-logos/logo_preventa_tb-1.png');
        }
    }

   .main-navbar-opener-label {
      display: inline-flex;
      vertical-align: middle;
      flex-direction: column;
      justify-content: center;
      height: inherit;
      width: 50%;
      color: #fff;
      > span {
         &:first-child {
            font-size: .9em;
            line-height: 1em;
         }
         &:last-child {
            font-size: .43em;
         }
      }
    }

   .main-navbar-opener {
      float: right;
      height: inherit;
      width: 150px;
   }

   .main-navbar-opener-bars {

      display: inline-flex;
      width: 46.3%;
      height: inherit;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      vertical-align: middle;
      background: #dd0021;
      > span {
         display: block;
         width: 28px;
         margin-bottom: 7px;
         height: 2px;
         background: #fff;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   .main-navbar-content {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $brandSecondary;
      
      /*
      background: -moz-linear-gradient(-45deg, #5148b1 0%, #4c45b0 43%, #1e13ae 100%);
      background: -webkit-linear-gradient(-45deg, #5148b1 0%, #4c45b0 43%, #201a79 100%);
      background: linear-gradient(135deg, #776cf5 0%, #574fc3 43%, #120a7d 100%);
      */

      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5149b2', endColorstr='#1d13af',GradientType=1 );
      z-index: 1000;
      pointer-events: none;
      opacity: 0;
      transform: scale(.9, .9);
      transition: ease-in .34s;
      .c-icon-cat {
         @media (min-width: $bp-xsmall + 1px) {
            height: 2.6em;
            width: 2.6em;
            background-size: 2.6em;
         }
      }
      &.main-navbar-content-open {
         opacity: 1;
         pointer-events: all;
         transform: scale(1,1);
      }

      .main-navbar-heading {
         position: relative;
         top: 0;
         background: #333;
         box-shadow: none;
         box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.4);
      }
      .main-navbar-opener-bars {
         float: right;
         width: 60px;
         background: $brandPrimary;
         > span {
            width: 32px;
            margin: 0;
            &:nth-child(1) {
               transform: rotate(45deg);
               margin-bottom: -2px;
            }
            &:nth-child(2) {
               transform: rotate(-45deg);
            }
            &:nth-child(3) {
               display: none;
            }
         }
      }
      .main-navbar-opener-label {
         float: right;
         width: 75px;
         > span {
            font-size: .7em;
         }
      }
      > ul {
         font-size: .57em;
         height: calc(100% - #{$navbarHeight});
         overflow-x: hidden;
         overflow-y: scroll;
         -webkit-overflow-scrolling: touch;
         @media (min-width: $bp-xsmall + 1px) {
            font-size: 1.75vmax;
         }
         > li {
            width: 33.3333%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: calc(100% / 4);
            float: left;
            box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.4);
            &:hover,
            &:active,
            &.active {
               background: #333;
               /*
               a {
                  color: $brandPrimary;
                  font-weight: 700;
               }
               */
            }
            > a {
               letter-spacing: 1px;
               text-decoration: none;
               color: #fff;
               display: flex;
               height: 100%;
               width: 100%;
               padding: 8px;
               flex-direction: column;
               justify-content: center;
               @media (min-width:$bp-xsmall + 1px) {
                  padding: 8px 18px;
               }
            }
         }
      }
   }

   
 
}

