@import './../variables';

$bp-news-medium: 900px;
$bp-news-small: 600px;
$gridColSpace: 5px;
$gridImageWidth: 295px;
$boxFeatureIndex1: 3;
$boxFeatureIndex2: 6;


.section-news-banner {
    flex-basis: calc(50% - #{$gridColSpace});
    margin-bottom: $gridColSpace;
    margin-right: $gridColSpace / 2;
    margin-left: $gridColSpace / 2;

    &:nth-child(#{$boxFeatureIndex1}),
    &:nth-child(#{$boxFeatureIndex2}) {
        flex-basis: 100%;
    }

    @media (min-width: $bp-news-small + 1px) {
       /* flex-basis: calc(25% - #{$gridColSpace});*/
        &:nth-child(#{$boxFeatureIndex1}),
        &:nth-child(#{$boxFeatureIndex2}) {
            flex-basis: calc(50% - #{$gridColSpace});
        }
    }
    img {
        width: 100%;
        @media (min-width: $containerMaxWidth) {
            width: auto;
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 1000px)  {
    .section-news-banner {
        margin-bottom: 3px;
    }
}