@import './variables';

#main {
    .btn {
        outline: 0;
        border: 0;
        letter-spacing: 1px;
        padding: 10px 15px;
        cursor: pointer;
        transform: scale(1,1);
        transition: ease-in-out .15s;
        &:hover {
            transform: scale(1.13,1.13)
        }
    }
    
    .btn-transparent {
        background: none;
    }
    
    .btn-text-white {
        color: #fff;
    }
}


.hover-effect-default {
    opacity: 1;
    transition: ease-in-out .3s;
    &:hover {
        filter: contrast(1.1);
        opacity: .75 !important;
    }    
}

.button-back-to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 58px;
    height: 58px;
    background-color: $brandPrimary;
    z-index: 2;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.63);
    opacity: 0;
    pointer-events: none;
    transition: ease-in-out .25s;
    &.is-visible {
        opacity: 1;
        pointer-events: all;
    }
    > span {
        display: flex;
        position: relative;
        height: 100%;
        align-items: center;
        > span {
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 22px;
            background: #fff;
            top: 18px;
        }
        &:before {
            left: 20px;
            transform: rotate(50deg);
        }
        &:after {
            right: 20px;
            transform: rotate(-50deg);
        }
       }
    }
}

.ios {
    .button-back-to-top {
        display: none !important;
    }
}

.touch-mode {
    .box-with-button {
        transform: translateY(-3px);
        transform-origin: bottom;
        .box-button {
            background: rgba(221, 0, 33, 0.85);
            transform: translateY(0);
        }
    }
}
.box-with-button {
    transition: ease-in-out .25s;
    a {
        display: block;
        position: relative;
        overflow: hidden;
    }
    &:hover {
        box-shadow: 0 0 10px -6px #000;
        transform: translateY(-3px);
        transform-origin: bottom;
        .box-button {
            transform: translateY(0);
        }
    }
    .box-button {
        position: absolute;
        border-radius: 2px;
        background: $brandSecondary;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: .5em;
        box-shadow: 0 0 6px -3px #000;
        transform: translateY(50px);
        transition: ease-in-out .25s;
        padding: 5px 7px;
        left: 0;
        bottom: 0;
        @media (min-width:$bp-xsmall + 1px) {
            font-size: .6em;
            left: 10px;
            bottom: 10px;
            padding: 7px 10px;
        }
    }
}