@mixin sectionHeading {
    font-weight: 400 !important;
    font-size: 1.8em !important;
    line-height: 1.2;
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
    padding: 0 14px;
    @media (max-width: $bp-medium) {
        margin-top: 2rem !important;
        font-size: 1.5em !important;
    }
    @media (max-width: $bp-xsmall) {
        font-size: 1.3em !important;
    }
}

@mixin horizontalScroll {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

@mixin swiperCustomCarousel {
    padding: 0 7px;
    .swiper-slide {
        max-width: 236px;
        width: 74%;
    }
    @media (min-width: $containerMaxWidth + 1px) {
        padding: 0;
        .swiper-custom-button {
            display: none;
        }
    }
}