@import './mixins';
@import './variables';

.section-heading {
    text-align: center;
}

.section-title {
    letter-spacing: 1px !important;
    @include sectionHeading();
}

.section-wrapper {
    max-width: $containerMaxWidth;
    margin: auto;
}

.section-wrapper,
.fbra_falabellaComponent {
    padding: 30px 0 40px;
}

.section-container {
    max-width: $containerMaxWidth;
    margin: auto;
}

/* Section intro */
@import './sections/section-intro';

/* Section Daily deals */
@import './sections/daily-deals';

/* Section Latest products */
@import './sections/latest-products';

/* Section promotions */
@import './sections/section-promotions';

/* Section news */
@import './sections/section-news';

/* Section our brands */
@import './sections/section-our-brands';

/* Section our benefits */
@import './sections/section-our-benefits';

@import './sections/category-list';

