/* Colors */
$brandPrimary: #0072ce;
$greyLighter: #eee;
$greyLight: #ddd;
$colorWhite: #fff;

/* Layouts sizes */
$headerHeight: 142px;
$headerHeightMobile: 57px;
$headerFixedHeight: 41px;
$containerMaxWidth: 1200px;

/* Breakpoints */
$bp-xsmall: 480px;
$bp-small: 800px;
$bp-medium: 1000px;
$bp-ipad-w: 768px;
