/* Colors */
$brandPrimary: #5149b2;
$brandPrimaryRaw: '%235149b2';
$cyberWow: false;
$brandSecondary: #dd0021;
$brandPink: #fd2b73;
$greyLighter: #eee;
$greyLight: #ddd;
$colorWhite: #fff;
$colorDark: #000;

@if $cyberWow == false {
    $brandPink: $brandSecondary
}

/* Layouts sizes */
$headerHeight: 142px;
$headerHeightMobile: 57px;
$headerFixedHeight: 41px;
$containerMaxWidth: 1200px;

/* Breakpoints */
$bp-xxsmall: 375px;
$bp-xsmall: 480px;
$bp-small: 800px;
$bp-medium: 1000px;
$bp-ipad-w: 768px;
