<div class="section-container">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            ¡Corre y aprovecha! Ofertas por tiempo limitado
         </h2>
      </div>
      <div class="section-content content-daily-deals">
         <!-- DAILY DEALS TEMPLATE -->
         <div id="daily-deals-homecenter" class="daily-deals-container is-loading">
            <a href="#" class="ddeals-link no-decoration color-dark">
               <div class="ddeals-loading">
                  <svg width="75px" height="75px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path ng-attr-d="{{config.pathCmd}}" ng-attr-fill="{{config.color}}" stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#0072ce" transform="rotate(101.694 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur=".5s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
               </div>
               <div class="ddeals-content-image">
                  <img class="b-lazy ddeals-image" src="" alt="">
               </div>
               <div class="ddeals-content-info">
                  <span class="ddeals-promo-badge"></span>
                  <div>
                     <span class="ddeals-name"></span>
                  </div>
                  <div>
                     <span>S/</span>
                     <span class="ddeals-price-promo"></span>
                  </div>
                  <div class="ddeals-price-list-wrapper">
                     <span class="ddeals-price-label">Antes: </span>
                     <span>S/</span>
                     <span class="ddeals-price-list"></span>
                  </div>
               </div>
            </a>
         </div>
         <div id="daily-deals-countdown" class="daily-deals-countdown text-center">
            <span class="ddeals-text-offerends">Esta oferta termina en: </span>
            <div class="ddeals-countdown-wrapper">
               <!-- DAYS -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-days ddeals-countdown-time-value">00</span>
                  <span class="ddeals-countdown-time-measure">días</span>
               </div>
               <span class="ddeals-countdown-time-separator">:</span>
               <!-- HOURS -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-hours ddeals-countdown-time-value">00</span>
                  <span class="ddeals-countdown-time-measure">horas</span>
               </div>
               <span class="ddeals-countdown-time-separator">:</span>
               <!-- MINUTES -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-minutes ddeals-countdown-time-value">00</span>
                  <span class="ddeals-countdown-time-measure">min.</span>
               </div>
               <span class="ddeals-countdown-time-separator">:</span>
               <!-- SECONDS -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-seconds ddeals-countdown-time-value">00</span>
                  <span class="ddeals-countdown-time-measure">seg.</span>
               </div>
            </div>
            <span class="ddeals-text-hurryup">¡Apúrate!</span>
         </div>
         <!-- DAILY DEALS TEMPLATE -->
         <div id="daily-deals-constructor" class="daily-deals-container no-margin is-loading">
            <a class="ddeals-link no-decoration color-dark" href="#">
               <div class="ddeals-loading">
                  <svg width="75px" height="75px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path ng-attr-d="{{config.pathCmd}}" ng-attr-fill="{{config.color}}" stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#0072ce" transform="rotate(101.694 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur=".5s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
               </div>
               <div class="ddeals-content-image">
                  <img class="b-lazy ddeals-image" src="" alt="">
               </div>
               <div class="ddeals-content-info">
                  <span class="ddeals-promo-badge"></span>
                  <div>
                     <span class="ddeals-name"></span>
                  </div>
                  <div>
                     <span>S/</span>
                     <span class="ddeals-price-promo"></span>
                  </div>
                  <div class="ddeals-price-list-wrapper">
                     <span class="ddeals-price-label">Antes: </span>
                     <span>S/</span>
                     <span class="ddeals-price-list"></span>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>