<div class="section-container-fluid">
   <div>
      <div id="swiper-slider-intro" class="swiper-container swiper-slider-intro">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/1"
                  data-title="sample 1"
                  data-price="200.90"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/2"
                  data-title="sample 2"
                  data-price="155.90"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/3"
                  data-title="sample 3"
                  data-price="120.90"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/4"
                  data-title="sample 4"
                  data-price="560.90"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/5"
                  data-title="sample 5"
                  data-price="560.90"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/6"
                  data-title="sample 6"
                  data-price="660"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div></a>
            </div>
         </div>
         <div data-breakpoint="915" class="swiper-pagination swiper-slider-intro-pagination"></div>
         <div role="button" class="swiper-custom-button swiper-custom-button-prev swiper-slider-intro-btn-prev"></div>
         <div role="button" class="swiper-custom-button swiper-custom-button-next swiper-slider-intro-btn-next"></div>
      </div>
   </div>
</div>