<div class="fullw swiper-container swiper-tabs swiper-tabs-1">
   <div class="swiper-container swiper-tabs-nav">
      <div class="swiper-wrapper">
         <div class="swiper-slide text-center" role="button">ctrl1</div>
         <div class="swiper-slide text-center" role="button">ctrl2</div>
         <div class="swiper-slide text-center" role="button">ctrl3</div>
         <div class="swiper-slide text-center" role="button">ctrl4</div>
         <div class="swiper-slide text-center" role="button">ctrl5</div>
         <div class="swiper-slide text-center" role="button">ctrl6</div>
      </div>
   </div>
   <div class="swiper-container swiper-tabs-container">
      <div class="swiper-wrapper">
         <div class="swiper-slide text-center">1</div>
         <div class="swiper-slide text-center">2</div>
         <div class="swiper-slide text-center">3</div>
         <div class="swiper-slide text-center">4</div>
         <div class="swiper-slide text-center">5</div>
         <div class="swiper-slide text-center">6</div>
      </div>
   </div>
</div>