<div class="section-container-fluid section-news">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            Otras secciones
         </h2>
      </div>
      <div class="flex-grid">
         <div class="no-padding flex-grid-col section-our-brands-banner">
            <a href="/sodimac-pe/lo-mas-nuevo?cid=lnd42399">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/lo-mas-nuevo?wid=395&hei=120" media="(min-width: 801px)">
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-lo-mas-nuevo?wid=240&hei=125" media="(max-width: 800px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://picsum.photos/300/300" alt="">-->
                  <img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-lo-mas-nuevo?wid=240&hei=125" alt="Banner Lo más Nuevo">
               </picture>
            </a>
         </div>
         <div class="no-padding flex-grid-col section-our-brands-banner">
            <a href="/sodimac-pe/category/cat579038/Combos?cid=lnd42400">
                  <picture>
                     <!--[if IE 9]><video style="display: none;"><![endif]-->
                     <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/combos?wid=395&hei=120" media="(min-width: 801px)">
                     <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-combos?wid=240&hei=125" media="(max-width: 800px)">
                     <!--[if IE 9]></video><![endif]-->
                     <!--<img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://picsum.photos/300/300" alt="">-->
                     <img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-combos?wid=240&hei=125" alt="Banner Combos">
                  </picture>
               </a>
         </div>
         <div class="no-padding flex-grid-col section-our-brands-banner">
            <a href="/sodimac-pe/category/cat3329006/Imbatibles?cid=lnd42401">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/imbatible?wid=395&hei=120" media="(min-width: 801px)">
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-imbatible?wid=490&hei=100" media="(max-width: 800px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://picsum.photos/800/182" alt="">-->
                  <img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-imbatible?wid=490&hei=100" alt="Banner imbatibles">
               </picture>
            </a>
         </div>
         <div class="no-padding flex-grid-col section-our-brands-banner">
            <a href="/sodimac-pe/content/a90008/Informacion-General?cid=lnd42407">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/servicios?wid=595&hei=200" media="(min-width: 801px)">
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-servicios?wid=240&hei=240" media="(max-width: 800px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://picsum.photos/300/300" alt="">-->
                  <img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-servicios?wid=240&hei=240" alt="Banner servicio alquiler herramientas">
               </picture>
            </a>
         </div>
         <div class="no-padding flex-grid-col section-our-brands-banner">
            <a href="/sodimac-pe/sodimac-constructor?cid=lnd42403">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mundo-constructor?wid=595&hei=200" media="(min-width: 801px)">
                  <source class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-mundo-constructor?wid=240&hei=240" media="(max-width: 800px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://picsum.photos/300/300" alt="">-->
                  <img class="b-lazy hover-effect-default" data-format="jpg" data-srcset="https://sodimac.scene7.com/is/image/SodimacPeru/mb-mundo-constructor?wid=240&hei=240" alt="">
               </picture>
            </a>
         </div>
      </div>
   </div>
</div>