<div class="section-promotions section-container section-container-fluid section-fullscreen">
   <div class="section-wrapper fullw">
      <div class="container">
         <h2 class="section-heading text-uppercase">
            <strong>Promociones</strong>
         </h2>
         <div class="row">
            <div class="one-half column">
               <div class="box-content-wrapper">
                  <div class="box-content-wrapper-inner js-box-content-wrapper-inner">
                     <div id="box-country-content-1" data-index="1"
                        class="js-country-box-content box-content box-content-red active">
                        <div class="box-content-inner">
                           <p class="text-left">BX1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button data-target-id="modal-flyer" class="js-modal-opener text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-2" data-index="2"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-3" data-index="3"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-4" data-index="4"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-5" data-index="5"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-6" data-index="6"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX6 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-7" data-index="7"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX7 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-8" data-index="8"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX8 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div><!--
                  --><div id="box-country-content-9" data-index="9"
                        class="js-country-box-content box-content box-content-red">
                        <div class="box-content-inner">
                           <p class="text-left">BX9 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                              quod impedit consequuntur ullam perspiciatis corporis, vero non similique ut atque dicta
                              tempore facere! Laudantium nihil natus labore est totam minus.</p>
                           <button class="text-uppercase btn btn-transparent btn-text-white"><strong>ver
                                 más</strong></button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="one-half column">
               <div class="country-list text-justify country-list-nav-inline">
                  <ul class="ul-no-style">
                     <li class="js-country-list-nav active" role="button" data-target="#box-country-content-1">España <span
                           class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-2">Perú <span
                           class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-3">Venezuela <span
                              class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-4">Argentina <span
                                 class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-5">Brasil <span
                           class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-6">Estados Unidos
                        <span class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-7">Panamá <span
                           class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-8">México <span
                           class="country-list-price pull-right">161$</span></li>
                     <li class="js-country-list-nav" role="button" data-target="#box-country-content-9">Colombia <span
                           class="country-list-price pull-right">161$</span></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>