<div id="fbra_dailyDealsSection">
   <div class="fbra_falabellaComponent fbra_falabellaComponentDailyDealsSection" data-reactid=".0">
       <div class="fbra_appContainer fbra_test_appContainer" data-reactid=".0.0">
           <div class="fbra_dailyDealSectionContainer fbra_test_dailyDealSectionContainer" data-reactid=".0.0.0">
               <div class="fbra_dailyDealsSectionContainer" data-reactid=".0.0.0.0">
                   <h1 class="fbra_heading fbra_dailyDealsSectionHeader" data-reactid=".0.0.0.0.0">¡Corre y aprovecha! Ofertas por tiempo limitado</h1>
                   <div class="fbra_dailyDealsSectionProductContainer" data-reactid=".0.0.0.0.1">
                       <div class="fbra_dailyDealsSectionProductImg" data-reactid=".0.0.0.0.1.0"><img class="fbra_dailyDealsSectionProductImg__desktop" src="https://www.sodimac.com.pe/static/images/daily-banner-dkp.png" data-reactid=".0.0.0.0.1.0.0"><img class="fbra_dailyDealsSectionProductImg__mobile" src="https://picsum.photos/200?image=200" data-reactid=".0.0.0.0.1.0.1"><img class="fbra_dailyDealsSectionProductImg__sku" src="https://sodimac.scene7.com/is/image/SodimacPeru/1690582" data-reactid=".0.0.0.0.1.0.2"></div>
                       <div class="fbra_dailyDealsSectionProductDetails" data-reactid=".0.0.0.0.1.1">
                           <div class="fbra_productPromoIconAndSku" data-reactid=".0.0.0.0.1.1.0">
                               <div class="fbra_productOtherPriceIcon fbra_productCMRPriceIcon" data-reactid=".0.0.0.0.1.1.0.0"></div>
                           </div><span class="fbra_dailyDealsSectionProductName" data-reactid=".0.0.0.0.1.1.1">(Antes S/199.9) Reposera Aluminio Sky Trend </span>
                           <div class="fbra_dailyDealsSectionPriceContainer" data-reactid=".0.0.0.0.1.1.2">
                               <div class="fbra_productPrice" data-reactid=".0.0.0.0.1.1.2.0">
                                   <p class="fbra_productMainPrice" data-reactid=".0.0.0.0.1.1.2.0.0"><span data-reactid=".0.0.0.0.1.1.2.0.0.0">S/</span><span data-reactid=".0.0.0.0.1.1.2.0.0.1">159.9</span><span data-reactid=".0.0.0.0.1.1.2.0.0.2"> </span><span data-reactid=".0.0.0.0.1.1.2.0.0.3">c/u   </span></p>
                                   <p class="fbra_productSecondaryPrice" data-reactid=".0.0.0.0.1.1.2.0.4"><span data-reactid=".0.0.0.0.1.1.2.0.4.0">Normal</span><span data-reactid=".0.0.0.0.1.1.2.0.4.1"> </span><span data-reactid=".0.0.0.0.1.1.2.0.4.2">S/</span><span data-reactid=".0.0.0.0.1.1.2.0.4.3">179.9</span><span data-reactid=".0.0.0.0.1.1.2.0.4.4"> </span><span data-reactid=".0.0.0.0.1.1.2.0.4.5">c/u   </span></p>
                               </div>
                           </div><a href="/sodimac-pe/product/1690582/(Antes-S/199.9)-Reposera-Aluminio-Sky-Trend-" class="fbra_anchor fbra_dailyDealsSectionAddToCartBtn" target="" title="" data-reactid=".0.0.0.0.1.1.3">¡Comprar Ahora!</a></div>
                       <div class="fbra_dailyDealTimeSlotSection" data-reactid=".0.0.0.0.1.2"><span data-reactid=".0.0.0.0.1.2.0">A esta oferta le quedan</span>
                           <div class="fbra_dailyDealTimeSlot" data-reactid=".0.0.0.0.1.2.1">
                               <div class="fbra_dailyDealTimeSlotHours" data-reactid=".0.0.0.0.1.2.1.0">07</div><span data-reactid=".0.0.0.0.1.2.1.1"> :</span>
                               <div class="fbra_dailyDealTimeSlotMinutes" data-reactid=".0.0.0.0.1.2.1.2">12</div><span data-reactid=".0.0.0.0.1.2.1.3"> :</span>
                               <div class="fbra_dailyDealTimeSlotSeconds" data-reactid=".0.0.0.0.1.2.1.4">44</div>
                           </div><span data-reactid=".0.0.0.0.1.2.2">¡Apúrate!</span></div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>