<style>
/* Section Category List Tab */
.fbra_heading.fbra_hurryBuyMessage {
   font-size: 1.75rem !important;
   font-weight: 600;
   white-space: normal;
}

.fbra_productImage__cyberLogo {
   display: none !important;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryListHeaderContainer > .fbra_heading {
   font-weight: 400 !important;
   font-size: 1.8em !important;
   line-height: 1.2;
   margin-top: 2rem !important;
   margin-bottom: 3rem !important;
   padding: 0 14px;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListHeaderContainer > .fbra_heading {
   margin-top: 2rem !important;
   font-size: 1.5em !important;
   }
}

@media (max-width: 480px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListHeaderContainer > .fbra_heading {
   font-size: 1.3em !important;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_test_categoryListHeader {
   font-weight: 400;
   font-size: 3em;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryList {
   max-width: 1200px;
   margin: auto;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryList .fbra_categoryItem {
   height: auto;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer {
   padding: 14px 13px 10px;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeader_text {
   font-size: 1.3em !important;
   margin: 0 !important;
   padding-top: 0;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeader_text {
   font-size: 1.1em !important;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeaderSeeCategory_button {
   text-transform: uppercase;
   text-align: center;
   display: inline-block;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeaderSeeCategory_button {
   font-size: .525em;
   }
}

@media (max-width: 480px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeaderSeeCategory_button {
   font-size: 0.45em;
   line-height: 2em;
   letter-spacing: .5px;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_heading .fbra_categoryHeader_heilights {
   font-weight: 300;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_heading .fbra_categoryHeader_name {
   font-weight: 500;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab {
   margin-right: 0 !important;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
      -ms-flex-pack: center;
         justify-content: center;
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab .fbra_categoryItem {
   overflow: hidden;
   padding: 12px 5px 5px;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab .fbra_categoryListTab__text {
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 1.1rem !important;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productListMob {
   -webkit-overflow-scrolling: touch;
}

.fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader {
   top: 41px !important;
   padding: 0;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader {
   top: 57px !important;
   overflow-x: scroll;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productsContainer {
   max-width: 1200px !important;
   margin: auto;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem {
   padding: 0 5px;
   width: 20%;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem {
   max-width: 200px;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
   -webkit-box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.51);
         box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.51);
   border-radius: 2px;
   background: #fff;
   height: 410px !important;
   position: relative;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productPriceSection .fbra_productMainPrice {
   margin: 0 0 5px 0 !important;
   font-size: 1.65rem !important;
   font-weight: 600;
}

@media (max-width: 1000px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
   width: 200px;
   }
}

@media screen and (max-width: 420px) and (min-width: 341px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
   height: 408px !important;
   }
}

@media screen and (max-width: 460px) and (min-width: 421px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
   height: 410px !important;
   }
}

@media (max-width: 340px) {
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
   height: 412px !important;
   }
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage {
   border: 0 !important;
   text-align: center !important;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage img {
   right: 0 !important;
   top: 0 !important;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage img:not(.fbra_productImage__cyberLogo) {
   width: 175px !important;
   height: 175px !important;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem:hover {
   -webkit-box-shadow: none !important;
         box-shadow: none !important;
}

.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productButtonContainer {
   left: 3%;
   padding: 0;
   bottom: 8px;
   width: 94%;
}

.fbra_falabellaComponent {
   background: #eee;
}

.fbra_falabellaComponentHomePageCategoryList {
   margin-bottom: 0 !important;
}
.fbra_seeAllCategoryItem {
   background: #dd0021 !important;
}
.fbra_seeAllCategoryItem:hover {
   background: hsla(351, 100%, 43%, 0.651) !important;
}
.fbra_seeAllCategoryItem a {
   color: #fff !important;
}
.fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem a.fbra_anchor:hover,
.fbra_seeAllCategoryItem a:hover,
.fbra_seeAllCategoryItem a:focus {
   text-decoration: none !important;
}
</style>
<div class="section-container-fluid section-news">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            Novedades
         </h2>
      </div>
      <div class="flex-grid">
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <!--<img class="b-lazy" data-src="https://picsum.photos/595/280" alt="">-->
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-back-to-school?wid=595&hei=340" alt="Banner liguidación Back to School">
            </a>
         </div>
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <!--<img class="b-lazy" data-src="https://picsum.photos/295/280" alt="">-->
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-bosch?wid=295&hei=340" alt="Banner ahorro en marca Monark">
            </a>
         </div>
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <!--<img class="b-lazy" data-src="https://picsum.photos/295/280" alt="">-->
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-monark?wid=295&hei=340" alt="Banner ahorro en marca Monark">
            </a>
         </div>
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-full-bikes?wid=295&hei=340" alt="Banner ahorra en marca Full Bikes">
            </a>
         </div>
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-muebles-bano-cocina?wid=295&hei=340" alt="Banner ahorro en muebles de baño y cocina">
            </a>
         </div>
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-mr-grill?wid=295&hei=340" alt="Banner ahorro en marca Mr Grill">
            </a>
         </div>
         <div class="no-padding flex-grid-col section-news-banner">
            <a href="#">
               <img class="b-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-liquidacion-muebles?wid=295&hei=340" alt="Banner liquidación de muebles">
            </a>
         </div>
      </div>
   </div>
</div>