<link rel="stylesheet" href="https://www.sodimac.com.pe/static/react/pages/home-page/home-page.css?vid=8735">
<div id="fbra_homePageCategoryList">
      <div class="fbra_falabellaComponent fbra_falabellaComponentHomePageCategoryList" data-reactid=".1">
          <div class="fbra_appContainer fbra_test_appContainer" data-reactid=".1.0">
              <div class="fbra_categoryList_container fbra_test_categoryList_container" data-reactid=".1.0.0">
                  <link rel="stylesheet" type="text/css" href="https://www.sodimac.cl/static/Cyber/2018/DAY/home/css/fontello.css" data-reactid=".1.0.0.0">
                  <div class="fbra_categoryListHeaderContainer fbra_categoryListHeaderContainer" data-reactid=".1.0.0.1">
                      <h3 class="fbra_heading fbra_categoryListHeader fbra_test_categoryListHeader" data-reactid=".1.0.0.1.0">¿Quieres más? Productos seleccionados a precios increíbles</h3><span class="fbra_categoryListText fbra_categoryListText" data-reactid=".1.0.0.1.1"></span></div>
                  <div class="fbra_categoryList fbra_test_categoryList" id="fbra_categoryList" data-reactid=".1.0.0.2">
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759009 fbra_categoryListActiveTab fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$0">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$0.0"><i class="icono-cyber icon-cbd2018-hm" data-reactid=".1.0.0.2.0:$0.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$0.0.1">Decoración, Iluminación y Menaje</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759013 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$1">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$1.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$1.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$1.0.1">Videojuegos y Tecnología</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759007 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$2">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$2.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$2.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$2.0.1">Muebles y Organización</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759012 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$3">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$3.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$3.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$3.0.1">Electrohogar</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759016 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$4">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$4.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$4.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$4.0.1">Terrazas y Jardín</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759005 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$5">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$5.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$5.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$5.0.1">Baños y Cocinas</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759008 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$6">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$6.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$6.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$6.0.1">Deportes y Recreación</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759004 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$7">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$7.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$7.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$7.0.1">Herramientas y Autos</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat3759011 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$8">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$8.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$8.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$8.0.1">Aseo, Pisos y Pinturas</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat10386 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$9">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$9.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$9.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$9.0.1">Accesorios y complementos de portones</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat11030 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$10">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$10.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$10.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$10.0.1">Molduras de Folio Melamínico</p>
                          </div>
                      </div>
                      <div class="fbra_tab fbra_categoryListTab col-md-1 pdd5 fbra_categoryListTab--cat1319012 fbra_tab--disabled fbra_tab--inactive" data-reactid=".1.0.0.2.0:$11">
                          <div class="fbra_categoryItem" data-reactid=".1.0.0.2.0:$11.0"><i class="icono-cyber" data-reactid=".1.0.0.2.0:$11.0.0"></i>
                              <p class="fbra_categoryListTab__text" data-reactid=".1.0.0.2.0:$11.0.1">Embutir</p>
                          </div>
                      </div>
                      <div class="gesture visible-xs" data-reactid=".1.0.0.2.1"><img src="/static/react/base/img/gesture.svg" class="img-responsive" data-reactid=".1.0.0.2.1.0"></div>
                  </div>
                  <div class="fbra_productsListContainer fbra_test_productsListContainer" data-reactid=".1.0.0.3">
                      <div class="fbra_productsContainer fbra_test_productsContainer" id="cat3759009" data-reactid=".1.0.0.3.0">
                          <div class="fbra_category_hilight fbra_test_category_hilight" data-reactid=".1.0.0.3.0.0">
                              <div class="fbra_categoryHeader_conatainer" data-reactid=".1.0.0.3.0.0.0">
                                  <h3 class="fbra_heading fbra_categoryHeader_text" data-reactid=".1.0.0.3.0.0.0.0"><span class="fbra_categoryHeader_heilights" data-reactid=".1.0.0.3.0.0.0.0.0">Destacados de</span><span class="fbra_categoryHeader_name" data-reactid=".1.0.0.3.0.0.0.0.2">Decoración, Iluminación y Menaje</span></h3><a class="fbra_anchor fbra_categoryHeaderSeeCategory_button" href="/sodimac-pe/category/cat3759009/Decoración, Iluminación y Menaje" target="" title="" data-reactid=".1.0.0.3.0.0.0.1"><span class="fbra_categoryHeaderSeeCategory_btn" data-reactid=".1.0.0.3.0.0.0.1.0"><span data-reactid=".1.0.0.3.0.0.0.1.0.0">Ir a Categoría</span><i class="fa fa-angle-right" data-reactid=".1.0.0.3.0.0.0.1.0.1"></i></span></a></div>
                          </div>
                          <div class="fbra_productList fbra_productListMob fbra_test_productList fbra_homePageCategoryList_productList" data-reactid=".1.0.0.3.0.1">
                              <div class="fbra_loadingWrapper" data-reactid=".1.0.0.3.0.1.0">
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$0">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$0.1">
                                          <a href="/sodimac-pe/product/2225115/Vaso-cervecero-20-Oz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2225115" alt="Vaso cervecero 20 Oz" data-reactid=".1.0.0.3.0.1.0.0:$0.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$0.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$0.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$0.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$0.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$0.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$0.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$0.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$0.1.2"><a href="/sodimac-pe/product/2225115/Vaso-cervecero-20-Oz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$0.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$0.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/2225115/Vaso-cervecero-20-Oz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$0.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$0.1.2.1.0">Vaso cervecero 20 Oz</span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$0.1.3"></div>
                                          <div class="fbra_productPriceSection" data-reactid=".0.0.0.3.0.1.0.0:$3.1.4">
                                              <div class="fbra_productPrice" data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0">
                                                    <p class="fbra_productMainPrice" data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.0">
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.0.0">S/</span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.0.1">249.9</span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.0.2"> </span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.0.3">c/u   </span>
                                                    </p>
                                                    <p class="fbra_productSecondaryPrice" data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4">
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4.0">Normal</span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4.1"> </span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4.2">S/</span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4.3">289.9</span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4.4"> </span>
                                                        <span data-reactid=".0.0.0.3.0.1.0.0:$3.1.4.0.4.5">c/u   </span>
                                                    </p>
                                                </div>
                                            </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$0.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$0.1.5.0">
                                                  <a href="/sodimac-pe/product/2225115/Vaso-cervecero-20-Oz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$0.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$0.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$1">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$1.1">
                                          <a href="/sodimac-pe/product/395633/Persiana-vertical-natural" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/395633" alt="Persiana vertical natural" data-reactid=".1.0.0.3.0.1.0.0:$1.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$1.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$1.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$1.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$1.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$1.1.2"><a href="/sodimac-pe/product/395633/Persiana-vertical-natural" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$1.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$1.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/395633/Persiana-vertical-natural" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$1.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$1.1.2.1.0">(Antes S/ 650) Persiana vertical natural</span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$1.1.3"></div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$1.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$1.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$1.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.4.0.0.1">224.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$1.1.4.0.0.3">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$1.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$1.1.5.0">
                                                  <a href="/sodimac-pe/product/395633/Persiana-vertical-natural" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$1.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$1.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$2">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$2.1">
                                          <a href="/sodimac-pe/product/2264609/Lámpara-de-pie-Trípode-1-luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2264609" alt="Lámpara de pie Trípode 1 luz" data-reactid=".1.0.0.3.0.1.0.0:$2.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$2.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$2.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$2.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$2.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$2.1.2"><a href="/sodimac-pe/product/2264609/Lámpara-de-pie-Trípode-1-luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$2.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$2.1.2.0.0">Casa Bonita</span></a><a href="/sodimac-pe/product/2264609/Lámpara-de-pie-Trípode-1-luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$2.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$2.1.2.1.0">Lámpara de pie Trípode 1 luz</span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$2.1.3"></div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$2.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$2.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$2.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.4.0.0.1">389.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$2.1.4.0.0.3">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$2.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$2.1.5.0">
                                                  <a href="/sodimac-pe/product/2264609/Lámpara-de-pie-Trípode-1-luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$2.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$2.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$3">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$3.1">
                                          <a href="/sodimac-pe/product/2640058/Lámpara-de-Pie-LED-Pazin-Gris-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$3.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$3.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$3.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$3.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$3.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$3.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2640058" alt="Lámpara de Pie LED Pazin Gris " data-reactid=".1.0.0.3.0.1.0.0:$3.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$3.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$3.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$3.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$3.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$3.1.2"><a href="/sodimac-pe/product/2640058/Lámpara-de-Pie-LED-Pazin-Gris-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$3.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$3.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/2640058/Lámpara-de-Pie-LED-Pazin-Gris-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$3.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$3.1.2.1.0">Lámpara de Pie LED Pazin Gris </span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$3.1.3">
                                              <div class="fbra_productOtherPriceIcon fbra_productCMRPriceIcon" data-reactid=".1.0.0.3.0.1.0.0:$3.1.3.0"></div>
                                          </div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$3.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.0.1">189.7</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.0.3">c/u   </span></p>
                                                  <p class="fbra_productSecondaryPrice" data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4"><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4.0">Normal</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4.1"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4.2">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4.3">239.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4.4"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$3.1.4.0.4.5">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$3.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$3.1.5.0">
                                                  <a href="/sodimac-pe/product/2640058/Lámpara-de-Pie-LED-Pazin-Gris-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$3.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$3.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$4">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$4.1">
                                          <a href="/sodimac-pe/product/2640082/Lámpara-de-Pie-LED-Irvin-3-Luces-Negro" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2640082" alt="Lámpara de Pie LED Irvin 3 Luces Negro" data-reactid=".1.0.0.3.0.1.0.0:$4.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$4.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$4.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$4.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$4.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$4.1.2"><a href="/sodimac-pe/product/2640082/Lámpara-de-Pie-LED-Irvin-3-Luces-Negro" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$4.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$4.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/2640082/Lámpara-de-Pie-LED-Irvin-3-Luces-Negro" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$4.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$4.1.2.1.0">Lámpara de Pie LED Irvin 3 Luces Negro</span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$4.1.3">
                                              <div class="fbra_productOtherPriceIcon fbra_productCMRPriceIcon" data-reactid=".1.0.0.3.0.1.0.0:$4.1.3.0"></div>
                                          </div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$4.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.0.1">199.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.0.3">c/u   </span></p>
                                                  <p class="fbra_productSecondaryPrice" data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4"><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4.0">Normal</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4.1"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4.2">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4.3">239.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4.4"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$4.1.4.0.4.5">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$4.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$4.1.5.0">
                                                  <a href="/sodimac-pe/product/2640082/Lámpara-de-Pie-LED-Irvin-3-Luces-Negro" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$4.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$4.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$5">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$5.1">
                                          <a href="/sodimac-pe/product/2639114/Lámpara-de-Pie-Arco-1-Luz-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$5.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$5.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$5.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$5.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$5.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$5.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2639114" alt="Lámpara de Pie Arco 1 Luz " data-reactid=".1.0.0.3.0.1.0.0:$5.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$5.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$5.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$5.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$5.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$5.1.2"><a href="/sodimac-pe/product/2639114/Lámpara-de-Pie-Arco-1-Luz-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$5.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$5.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/2639114/Lámpara-de-Pie-Arco-1-Luz-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$5.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$5.1.2.1.0">Lámpara de Pie Arco 1 Luz </span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$5.1.3">
                                              <div class="fbra_productOtherPriceIcon fbra_productCMRPriceIcon" data-reactid=".1.0.0.3.0.1.0.0:$5.1.3.0"></div>
                                          </div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$5.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.0.1">229.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.0.3">c/u   </span></p>
                                                  <p class="fbra_productSecondaryPrice" data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4"><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4.0">Normal</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4.1"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4.2">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4.3">269.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4.4"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$5.1.4.0.4.5">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$5.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$5.1.5.0">
                                                  <a href="/sodimac-pe/product/2639114/Lámpara-de-Pie-Arco-1-Luz-" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$5.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$5.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$6">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$6.1">
                                          <a href="/sodimac-pe/product/2639084/Lámpara-de-Mesa-Tuscan-1-Luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2639084" alt="Lámpara de Mesa Tuscan 1 Luz" data-reactid=".1.0.0.3.0.1.0.0:$6.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$6.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$6.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$6.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$6.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$6.1.2"><a href="/sodimac-pe/product/2639084/Lámpara-de-Mesa-Tuscan-1-Luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$6.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$6.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/2639084/Lámpara-de-Mesa-Tuscan-1-Luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$6.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$6.1.2.1.0">Lámpara de Mesa Tuscan 1 Luz</span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$6.1.3"></div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$6.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$6.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$6.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.4.0.0.1">249.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$6.1.4.0.0.3">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$6.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$6.1.5.0">
                                                  <a href="/sodimac-pe/product/2639084/Lámpara-de-Mesa-Tuscan-1-Luz" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$6.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$6.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fbra_productItem col-sm-4 col-md-3 pdd3 mt10" data-reactid=".1.0.0.3.0.1.0.0:$7">
                                      <div class="fbra_productListItem destaHome" data-reactid=".1.0.0.3.0.1.0.0:$7.1">
                                          <a href="/sodimac-pe/product/2656817/Lámpara-de-Mesa-Cuneo-40W" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0">
                                              <div class="fbra_productImage" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0.0">
                                                  <div class="fbra_hurryBuyMsgSection" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0.0.0">
                                                      <div class="fbra_fbra_hurryBuyMsgBackdrop" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0.0.0.0"></div>
                                                      <h3 class="fbra_heading fbra_hurryBuyMessage" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0.0.0.1">Apurate! Compra el tuyo</h3></div><img class="fbra_productImage__cyberLogo" src="/static/react/pages/home-page/img/cyber-wow.png" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0.0.1"><img src="https://sodimac.scene7.com/is/image/SodimacPeru/2656817" alt="Lámpara de Mesa Cuneo 40W" data-reactid=".1.0.0.3.0.1.0.0:$7.1.0.0.2"></div>
                                          </a>
                                          <div class="fbra_productBVRating" data-reactid=".1.0.0.3.0.1.0.0:$7.1.1">
                                              <div class="fbra_productBVRatingContainer" data-reactid=".1.0.0.3.0.1.0.0:$7.1.1.0"><span class="fbra_productBVRating rating rating-0-0" data-reactid=".1.0.0.3.0.1.0.0:$7.1.1.0.0"></span><span class="fbra_productBVReviewContainer" data-reactid=".1.0.0.3.0.1.0.0:$7.1.1.0.1"><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.1.0.1.0">(</span><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.1.0.1.1">0</span><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.1.0.1.2">)</span></span>
                                              </div>
                                          </div>
                                          <div class="fbra_productBrandName" data-reactid=".1.0.0.3.0.1.0.0:$7.1.2"><a href="/sodimac-pe/product/2656817/Lámpara-de-Mesa-Cuneo-40W" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$7.1.2.0"><span class="fbra_productBrand" data-reactid=".1.0.0.3.0.1.0.0:$7.1.2.0.0">Home Collection</span></a><a href="/sodimac-pe/product/2656817/Lámpara-de-Mesa-Cuneo-40W" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$7.1.2.1"><span class="fbra_productName" data-reactid=".1.0.0.3.0.1.0.0:$7.1.2.1.0">Lámpara de Mesa Cuneo 40W</span></a></div>
                                          <div class="fbra_productPromoIconAndSku" data-reactid=".1.0.0.3.0.1.0.0:$7.1.3"></div>
                                          <div class="fbra_productPriceSection" data-reactid=".1.0.0.3.0.1.0.0:$7.1.4">
                                              <div class="fbra_productPrice" data-reactid=".1.0.0.3.0.1.0.0:$7.1.4.0">
                                                  <p class="fbra_productMainPrice" data-reactid=".1.0.0.3.0.1.0.0:$7.1.4.0.0"><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.4.0.0.0">S/</span><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.4.0.0.1">199.9</span><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.4.0.0.2"> </span><span data-reactid=".1.0.0.3.0.1.0.0:$7.1.4.0.0.3">c/u   </span></p>
                                              </div>
                                          </div>
                                          <div class="fbra_productButtonContainer" data-reactid=".1.0.0.3.0.1.0.0:$7.1.5">
                                              <div class="fbra_productButton" data-reactid=".1.0.0.3.0.1.0.0:$7.1.5.0">
                                                  <a href="/sodimac-pe/product/2656817/Lámpara-de-Mesa-Cuneo-40W" class="fbra_anchor fbra_productListItem_Link" target="" title="" data-reactid=".1.0.0.3.0.1.0.0:$7.1.5.0.0"><img class="fbra_productButtonIcon" src="/static/react/pages/home-page/img/vermas.png" alt="Ver Producto" data-reactid=".1.0.0.3.0.1.0.0:$7.1.5.0.0.0"></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="fbra_keywordsContainer" data-reactid=".1.0.0.3.0.2">
                              <div class="fbra_keywordsLabelText" data-reactid=".1.0.0.3.0.2.0">"¿Sigues buscando? Quizas te ayuden estas palabras:"</div>
                              <div class="fbra_keyword" data-reactid=".1.0.0.3.0.2.1:0"><a href="/sodimac-pe/category/cat3759009/Decoración,-Iluminación-y-Menaje?Ntt=Decors" class="fbra_anchor fbra_keywordLink" target="" title="" data-reactid=".1.0.0.3.0.2.1:0.0">Decors</a><span class="fbra_keywordSeperator" data-reactid=".1.0.0.3.0.2.1:0.1"> /</span></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>