<style>
   /* Section Category List Tab */
   .fbra_heading.fbra_hurryBuyMessage {
      font-size: 1.75rem !important;
      font-weight: 600;
      white-space: normal;
   }

   .fbra_keywordSeperator {
      display: none;
   }
   
   .fbra_productImage__cyberLogo {
      display: none !important;
   }

   .fbra_falabellaComponentHomePageCategoryList .fbra_keywordsContainer .fbra_keyword .fbra_keywordLink {
      display: inline-block;
      padding: 4px 8px;
      background: #dd0021;
      border-radius: 3px;
      color: #fff;
      font-size: .85em;
      margin: 5px 0;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage:hover .fbra_hurryBuyMsgSection {
      display: none !important;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListHeaderContainer > .fbra_heading {
      font-weight: 400 !important;
      font-size: 1.8em !important;
      line-height: 1.2;
      margin-top: 2rem !important;
      margin-bottom: 3rem !important;
      padding: 0 14px;
   }
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListHeaderContainer > .fbra_heading {
      margin-top: 2rem !important;
      font-size: 1.5em !important;
      }
   }
   
   @media (max-width: 480px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListHeaderContainer > .fbra_heading {
      font-size: 1.3em !important;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_test_categoryListHeader {
      font-weight: 400;
      font-size: 3em;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryList {
      max-width: 1200px;
      margin: auto;
   }
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryList .fbra_categoryItem {
         height: auto;
      }
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryList {
         position: relative;
         z-index: 199;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListActiveTab, .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListActiveTab:hover {
      /*background-color: #fd2b73 !important;*/
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab:hover {
      color: #333;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer {
      /*background-color: #fd2b73;*/
      padding: 14px 13px 10px;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeader_text {
      font-size: 1.3em !important;
      margin: 0 !important;
      padding-top: 0;
   }
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeader_text {
      font-size: 1.1em !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeaderSeeCategory_button {
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
   }
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeaderSeeCategory_button {
      font-size: .525em;
      }
   }
   
   @media (max-width: 480px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_categoryHeaderSeeCategory_button {
      font-size: 0.45em;
      line-height: 2em;
      letter-spacing: .5px;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_heading .fbra_categoryHeader_heilights {
      font-weight: 300;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryHeader_conatainer .fbra_heading .fbra_categoryHeader_name {
      font-weight: 500;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab {
      color: #2c2584;
      margin-right: 0 !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
         -ms-flex-pack: center;
            justify-content: center;
      -webkit-box-align: center;
         -ms-flex-align: center;
            align-items: center;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab .fbra_categoryItem {
      overflow: hidden;
      padding: 12px 5px 5px;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_categoryListTab .fbra_categoryListTab__text {
      overflow: hidden;
      text-transform: uppercase;
      text-overflow: ellipsis;
      font-size: .84rem !important;
      line-height: 1.2rem !important;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productListMob {
      -webkit-overflow-scrolling: touch;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader {
      top: 41px !important;
      padding: 0;
      -webkit-box-shadow: transparent 0px 5px 0px 0px, rgba(0,0,0,0.18) 0px 3px 5px 0px, rgba(0,0,0,0.65) 0px 0px 0px 0px;
      -moz-box-shadow: transparent 0px 5px 0px 0px, rgba(0,0,0,0.18) 0px 3px 5px 0px, rgba(0,0,0,0.65) 0px 0px 0px 0px;
      -o-box-shadow: transparent 0px 5px 0px 0px, rgba(0,0,0,0.18) 0px 3px 5px 0px, rgba(0,0,0,0.65) 0px 0px 0px 0px;
      box-shadow: transparent 0px 5px 0px 0px, rgba(0,0,0,0.18) 0px 3px 5px 0px, rgba(0,0,0,0.65) 0px 0px 0px 0px;
   }

   @media (min-width:1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader {
         position: inherit !important;
      }
   }
   
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader {
         position: relative !important;
         z-index: 199 !important;
         top: 0 !important;
         overflow-x: scroll;
         overflow-y: hidden;
         -webkit-overflow-scrolling: touch;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productsContainer {
      max-width: 1200px !important;
      margin: auto;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem {
      padding: 0 5px;
      width: 20%;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader + .fbra_productsListContainer {
      /*padding-top: 112px;*/
   }
   
   @media (min-width: 1001px) {
      .fbra_falabellaComponentHomePageCategoryList .fixedCategoryHeader + .fbra_productsListContainer {
         padding-top: 0;
      }
   }
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem {
         max-width: 200px;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
      -webkit-box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.51);
            box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.51);
      border-radius: 2px;
      background: #fff;
      height: 410px !important;
      position: relative;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productPriceSection .fbra_productMainPrice {
      margin: 0 0 5px 0 !important;
      font-size: 1.65rem !important;
      font-weight: 600;
   }
   
   @media (max-width: 1000px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
      width: 200px;
      }
   }
   
   @media screen and (max-width: 420px) and (min-width: 341px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
      height: 408px !important;
      }
   }
   
   @media screen and (max-width: 460px) and (min-width: 421px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
      height: 410px !important;
      }
   }
   
   @media (max-width: 340px) {
      .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem {
      height: 412px !important;
      }
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage {
      border: 0 !important;
      text-align: center !important;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage img {
      right: 0 !important;
      top: 0 !important;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productImage img:not(.fbra_productImage__cyberLogo) {
      width: 175px !important;
      height: 175px !important;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem:hover {
      -webkit-box-shadow: none !important;
            box-shadow: none !important;
   }
   
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem .fbra_productListItem .fbra_productButtonContainer {
      left: 3%;
      padding: 0;
      bottom: 8px;
      width: 94%;
   }
   
   .fbra_falabellaComponent {
      background: #eee;
   }
   
   .fbra_falabellaComponentHomePageCategoryList {
      margin-bottom: 0 !important;
   }
   .fbra_seeAllCategoryItem {
      background-color: #dd0021 !important;
   }
   .fbra_seeAllCategoryItem:hover {
      background-color: rgba(221, 0, 33, 0.795) !important;
   }
   .fbra_seeAllCategoryItem a {
      color: #fff !important;
   }
   .fbra_falabellaComponentHomePageCategoryList .fbra_productList .fbra_productItem a.fbra_anchor:hover,
   .fbra_seeAllCategoryItem a:hover,
   .fbra_seeAllCategoryItem a:focus {
      text-decoration: none !important;
   }
   </style>
   <div class="section-container-fluid section-news">
      <div class="section-wrapper">
         <div class="section-heading">
            <h2 class="section-title">
               CONOCE NUESTRAS <b> NOVEDADES </b> 
            </h2>
         </div>
         <div class="flex-grid">
            <div class="flex-grid-1">
                  <div class="no-padding flex-grid-col section-news-banner box-with-button">
                        <a href="/sodimac-pe/category/cat4569004/?cid=lnd43409">
                           <!--<img class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/595/280" alt="">-->
                           <picture>
                              <!--[if IE 9]><video style="display: none;"><![endif]-->
                              <source class="hover-effect-default" srcset="https://place-hold.it/295x400" media="(min-width: 501px)">
                              <source class="hover-effect-default" srcset="https://place-hold.it/400x400" media="(max-width: 500px)">
                              <!--[if IE 9]></video><![endif]-->
                              <!--<img data-format="jpg" class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/300/300" alt="">-->
                              <img data-format="jpg" class="b-lazy hover-effect-default" data-src="https://place-hold.it/400x400" alt="Banner liquidación muebles">
                           </picture>
                           <div class="box-button">
                              <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                           </div>
                        </a>
                     </div>
                     <div class="no-padding flex-grid-col section-news-banner box-with-button">
                           <a href="/sodimac-pe/category/cat4569004/?cid=lnd43409">
                              <!--<img class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/595/280" alt="">-->
                              <picture>
                                 <!--[if IE 9]><video style="display: none;"><![endif]-->
                                 <source class="hover-effect-default" srcset="https://place-hold.it/295x400" media="(min-width: 501px)">
                                 <source class="hover-effect-default" srcset="https://place-hold.it/400x400" media="(max-width: 500px)">
                                 <!--[if IE 9]></video><![endif]-->
                                 <!--<img data-format="jpg" class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/300/300" alt="">-->
                                 <img data-format="jpg" class="b-lazy hover-effect-default" data-src="https://place-hold.it/400x400" alt="Banner liquidación muebles">
                              </picture>
                              <div class="box-button">
                                 <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                              </div>
                           </a>
                        </div>
            </div>
            
            <div class="flex-grid-2">
                  <div class="no-padding flex-grid-col section-news-banner box-with-button">
                        <a title="Regalos para mamá" href="/sodimac-pe/category/cat549168/Regalos-para-mama?cid=lnd43411">
                           <!--<img class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/295/280" alt="">-->
                           <picture>
                              <!--[if IE 9]><video style="display: none;"><![endif]-->
                              <source class="hover-effect-default" srcset="https://place-hold.it/595x198" media="(min-width: 501px)">
                              <source class="hover-effect-default" srcset="https://place-hold.it/400x400" media="(max-width: 500px)">
                              <!--[if IE 9]></video><![endif]-->
                              <!--<img data-format="jpg" class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/300/300" alt="">-->
                              <img data-format="jpg" class="b-lazy hover-effect-default" data-src="https://place-hold.it/400x400" alt="Banner regalo mamá">
                           </picture>
                           <div class="box-button">
                              <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                           </div>
                        </a>
                     </div>
                     <div class="no-padding flex-grid-col section-news-banner box-with-button">
                           <a title="Regalos para mamá" href="/sodimac-pe/category/cat549168/Regalos-para-mama?cid=lnd43411">
                              <!--<img class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/295/280" alt="">-->
                              <picture>
                                 <!--[if IE 9]><video style="display: none;"><![endif]-->
                                 <source class="hover-effect-default" srcset="https://place-hold.it/595x198" media="(min-width: 501px)">
                                 <source class="hover-effect-default" srcset="https://place-hold.it/400x400" media="(max-width: 500px)">
                                 <!--[if IE 9]></video><![endif]-->
                                 <!--<img data-format="jpg" class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/300/300" alt="">-->
                                 <img data-format="jpg" class="b-lazy hover-effect-default" data-src="https://place-hold.it/400x400" alt="Banner regalo mamá">
                              </picture>
                              <div class="box-button">
                                 <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                              </div>
                           </a>
                        </div>
            </div>

           
   
          
            
          
           
            

         </div>
      </div>
   </div>