<div class="section-container-fluid section-our-benefits">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            <strong>Conoce tus beneficios al comprar en Sodimac</strong>
            Todo lo que necesitas saber sobre tu compra
         </h2>
      </div>
      <div class="flex-grid">
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a href="/sodimac-pe/content/a50048/venta-telefonica?cid=lnd42404" class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-phone"></span>
                  <span>
                     <span class="block">Venta telefónica</span>
                     <span class="bold block">(01) 615 6002</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-shield"></span>
                  <span>
                     <span class="block">Compra con</span>
                     <span class="bold block">Total tranquilidad</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a href="/sodimac-pe/content/a50034/multiples-medios-de-pagos?cid=lnd42409" class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-card"></span>
                  <span>
                     <span class="block">Múltiples</span>
                     <span class="bold block">Medios de pago</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a href="/sodimac-pe/content/a50032/retiro-en-tienda?cid=lnd42405" class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-shop-cart"></span>
                  <span>
                     <span class="block">Compra online,</span>
                     <span class="bold block">Retira en tienda</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a href="/sodimac-pe/como-comprar?cid=lnd42492"class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-light-bulb"></span>
                  <span>
                     <span block>Asesoría</span>
                     <span class="bold block">En tus compras</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a href="/sodimac-pe/content/a50035/devolucion-gratis?cid=lnd42406" class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-rotate-money"></span>
                  <span>
                     <span class="block">Cambios y</span>
                     <span class="bold block">Devoluciones</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a href="/sodimac-pe/servicios-hogar?cid=lnd42402" class="no-decoration color-dark">
               <div class="secourb-box">
                  <span class="c-icon c-icon-tools"></span>
                  <span>
                     <span class="block">Servicios</span>
                     <span class="bold block">Hogar</span>
                  </span>
               </div>
            </a>
         </div>
         <div class="no-padding flex-grid-col flex-grid-6 flex-grid-sm-4 flex-grid-md-3">
            <a class="no-decoration color-dark" href="/sodimac-pe/content/a50043/terminos-condiciones?cid=lnd42408">
               <div class="secourb-box">
                  <span class="c-icon c-icon-papers"></span>
                  <span>
                     <span class="block">Términos y</span>
                     <span class="bold block">Condiciones</span>
                  </span>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
<a href="#main" class="button-back-to-top">
   <span><span></span></span>
</a>