<div class="section-container-fluid">
   <div>
      <div id="swiper-slider-intro" class="swiper-container swiper-slider-intro">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div class="swiper-slide-image js-swiper-slide-image"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="swiper-slide-image js-swiper-slide-image"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="swiper-slide-image js-swiper-slide-image"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="swiper-slide-image js-swiper-slide-image"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="swiper-slide-image js-swiper-slide-image"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div>
            </div>
            <div class="swiper-slide">
               <div class="swiper-slide-image js-swiper-slide-image"
                  data-img-large="https://picsum.photos/1250/450"
                  data-img-medium="https://picsum.photos/800/450?image=450"
                  data-img-small="https://picsum.photos/480/450">
               </div>
            </div>
         </div>
         <div data-breakpoint="915" class="swiper-pagination swiper-slider-intro-pagination"></div>
         <div role="button" class="swiper-custom-button swiper-custom-button-prev swiper-slider-intro-btn-prev"></div>
         <div role="button" class="swiper-custom-button swiper-custom-button-next swiper-slider-intro-btn-next"></div>
      </div>
   </div>
</div>