<div class="section-container-fluid feed-products bg-grey-lighter hidden">
    <div class="section-wrapper">
        <div class="section-heading">
            <h2 class="section-title">
                Últimas Unidades ¡Hoy Último día!
            </h2>
        </div>
        <div class="section-heading hidden">
            <div class="centrEfecto">
                <h2 class="section-title">
                    <div class="scape scapeFirst">Últimas Unidades</div> 
                    <div class="scape scapeLast"> 
                        <span>¡Hoy Último día!</span>
                    </div>
                </h2>
            </div>
        </div>
        <div class="swiper-container swiper-custom-carousel js-swiper-feedproducts">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination swiper-feedproducts-pagination"></div>
            <div class="swiper-custom-button swiper-custom-button-prev swiper-feedproducts-button-prev"></div>
            <div class="swiper-custom-button swiper-custom-button-next swiper-feedproducts-button-next"></div>
        </div>
    </div>
</div>