<div class="section-container-fluid posr">
   <div class="section-intro-logo"></div>
   <div class="section-intro-bg">
      <div id="swiper-slider-intro" class="swiper-container swiper-slider-intro">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/product/2912023C2/tv-smart-led-uhd-43-pulg-futon?cid=lnd42331"
                  data-title="TV Smart Led UHD 43&rdquo; + Futón"
                  data-price="1,149"
                  data-img-large="https://sodimac.scene7.com/is/image/SodimacPeru/dkp-2912023C2-1?wid=1100&hei=370"
                  data-img-medium="https://sodimac.scene7.com/is/image/SodimacPeru/tb-2912023C2-1?wid=900&hei=420"
                  data-img-small="https://sodimac.scene7.com/is/image/SodimacPeru/mb-2912023C2-1?wid=500&hei=370">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/product/1986740C49/box-tarima-nappy-kit-respaldo-set-lamparas?cid=lnd42332"
                  data-title="Box Tarima Nappy + Kit respaldo + Set lámparas"
                  data-price="849.90"
                  data-img-large="https://sodimac.scene7.com/is/image/SodimacPeru/dkp-1986740C49-1?wid=1100&hei=370"
                  data-img-medium="https://sodimac.scene7.com/is/image/SodimacPeru/tb-1986740C49-1?wid=900&hei=420"
                  data-img-small="https://sodimac.scene7.com/is/image/SodimacPeru/mb-1986740C49-1?wid=500&hei=370">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/product/1835297/juego-de-terraza-san-lucas?cid=lnd42333"
                  data-title="Juego de terraza San Lucas"
                  data-price="2,499.90"
                  data-img-large="https://sodimac.scene7.com/is/image/SodimacPeru/dkp-1835297?wid=1100&hei=370"
                  data-img-medium="https://sodimac.scene7.com/is/image/SodimacPeru/tb-1835297?wid=900&hei=420"
                  data-img-small="https://sodimac.scene7.com/is/image/SodimacPeru/mb-1835297?wid=500&hei=370">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/product/2755475/alacena-bella-madera?cid=lnd42564"
                  data-title="Alacena Bella Madera 1.80m"
                  data-price="349.90"
                  data-img-large="https://sodimac.scene7.com/is/image/SodimacPeru/dkp-2755475?wid=1100&hei=370"
                  data-img-medium="https://sodimac.scene7.com/is/image/SodimacPeru/tb-2755475?wid=900&hei=420"
                  data-img-small="https://sodimac.scene7.com/is/image/SodimacPeru/mb-2755475?wid=500&hei=370">
               </div></a>
            </div>
            <div class="swiper-slide">
               <a><div class="swiper-slide-image js-swiper-slide-image"
                  data-url="/sodimac-pe/product/2734036C/hidrolavadora-duo-shampoo-silicona?cid=lnd42334"
                  data-title="Hidrolavadora 1200W + Duo Shampoo + Silicona"
                  data-price="149.90"
                  data-img-large="https://sodimac.scene7.com/is/image/SodimacPeru/dkp-2734036C?wid=1100&hei=370"
                  data-img-medium="https://sodimac.scene7.com/is/image/SodimacPeru/tb-2734036C?wid=900&hei=420"
                  data-img-small="https://sodimac.scene7.com/is/image/SodimacPeru/mb-2734036C?wid=500&hei=370">
               </div></a>
            </div>
         </div>
         <div data-breakpoint="915" class="swiper-pagination swiper-slider-intro-pagination"></div>
         <div role="button" class="swiper-custom-button swiper-custom-button-prev swiper-slider-intro-btn-prev"></div>
         <div role="button" class="swiper-custom-button swiper-custom-button-next swiper-slider-intro-btn-next"></div>
      </div>
   </div>
</div>