<div class="section-container-fluid section-promotions">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            Promociones
         </h2>
      </div>
      <div class="swiper-container swiper-custom-carousel">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <a href="/sodimac-pe/category/cat4579002/Promo-20-Sole?cid=lnd42377">
                  <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                  <img
                     class="swiper-lazy hover-effect-default"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-sole?wid=235&hei=240"
                     alt="Banner Ahorro en Marcas Sole">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="/sodimac-pe/category/cat3779004/Promo-20-Klimatic?cid=lnd42378">
                  <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                  <img
                     class="swiper-lazy hover-effect-default"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-klimatic?wid=235&hei=240&125632"
                     alt="Banner Ahorro en Marcas Klimatic">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="/sodimac-pe/category/cat4569005/Renueva-tu-dormitorio-desde-449?cid=lnd42379">
                  <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                  <img
                     class="swiper-lazy hover-effect-default"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-renueva-tu-dormitorio?wid=235&hei=240"
                     alt="Banner Renueva tu dormitorio">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="/sodimac-pe/category/cat1789012/Especial-Mascotas?cid=lnd42383">
                  <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                  <img 
                     class="swiper-lazy hover-effect-default"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-mascota?wid=235&hei=240"
                     alt="Banner ahorro en productos de mascotas">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="/sodimac-pe/category/cat4559004/Hasta-40-Descuento-en-Grillcorp-Cupon-de-descuento-en-Carnes?cid=lnd42384">
                  <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                  <img 
                     class="swiper-lazy hover-effect-default"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-grillcorp?wid=235&hei=240&12545"
                     alt="Banner ahorro en marca Grillcorp">
                  >
               </a>
            </div>
         </div>
         <div class="swiper-custom-button swiper-custom-button-prev slider-promotions-btn-prev"></div>
         <div class="swiper-custom-button swiper-custom-button-next slider-promotions-btn-next"></div>
      </div>
      <div class="row banner-promotional">
         <div class="col-sm-12 banner-phone-sales">
            <div>
               <a href="tel:016156002" class="no-decoration color-white">
                  <span class="icon-phone-sales"></span>
                  <span class="bfs-buy-also-calling text-uppercase">
                     <span>compra también</span>
                     <span class="bold">Llamando</span>
                  </span>
                  <span class="bfs-number bold fz-1-5x">
                     (01) 615 6002
                     <span class="bfs-extended-schedule text-uppercase">
                        <span>horario extendido</span>
                        <span>de 7 a.m a 2 a.m</span>
                     </span>
                  </span>
                  <span class="bfs-extended-schedule text-uppercase">
                     <span>horario extendido</span>
                     <span>de 7 a.m a 2 a.m</span>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>