<div id="section-dailydeals" class="section-container-fluid section-dailydeals bg-grey-lighter">
   <div class="section-wrapper">
      <!--<div class="section-heading hidden">
         <h2 class="section-title color-white">
            Ofertas por tiempo limitado
         </h2>
      </div>-->
      <div class="section-content content-daily-deals">
         <!-- DAILY DEALS TEMPLATE -->
         <div id="daily-deals-homecenter" class="daily-deals-container is-loading">
            <a href="#" class="ddeals-link no-decoration color-dark">
               <div class="spinner-loading">
                  <div class="spinner"></div>
               </div>
               <div class="ddeals-content-image text-center">
                  <img class="b-lazy ddeals-image" src="" alt="">
               </div>
               <div class="ddeals-content-info">
                  <span class="ddeals-promo-badge">
                     <span class="ddeals-promo-badge-cmr"></span>
                     <span class="ddeals-promo-badge-combo"></span>
                  </span>
                  <div>
                     <span class="ddeals-name block"></span>
                  </div>
                  <div class="bold mb-5 mt-5 color-white inline ddeals-price-promo-wrap">
                     <span>S/</span>
                     <span class="ddeals-price-promo"></span>
                  </div>
                  <div class="ddeals-price-secondary color-brand-pink bold">
                     <span class="ddeals-price-label">Ahorro: </span>
                     <span>S/</span>
                     <span class="ddeals-amount-savings"></span>
                  </div>
                  <div class="ddeals-price-secondary">
                     <span class="ddeals-price-label">Antes: </span>
                     <span>S/</span>
                     <span class="ddeals-price-list"></span>
                  </div>
               </div>
               <div class="text-right posr">
                  <button class="btn btn-red letter-spacing-1 ddeals-btn-cta bold">¡Llévatelo ahora!</button>
               </div>
            </a>
         </div>
         <div id="daily-deals-countdown" class="daily-deals-countdown text-center">
            <div class="ddeals-countdown-heading color-white">
               <span class="text-uppercase block">solo por</span>
               <span class="text-uppercase block bold">horas</span>
            </div>
            <span class="ddeals-text-offerends color-white">Esta oferta termina en: </span>
            <div class="ddeals-countdown-wrapper">
               <!-- DAYS -->
               <div class="ddeals-countdown-time-box text-uppercase hidden">
                  <span class="js-measure-days ddeals-countdown-time-value bolder">00</span>
                  <span class="ddeals-countdown-time-measure color-white">días</span>
               </div>
               <span class="ddeals-countdown-time-separator hidden">:</span>
               <!-- HOURS -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-hours ddeals-countdown-time-value bolder">00</span>
                  <span class="ddeals-countdown-time-measure color-white">horas</span>
               </div>
               <span class="ddeals-countdown-time-separator color-white">:</span>
               <!-- MINUTES -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-minutes ddeals-countdown-time-value bolder">00</span>
                  <span class="ddeals-countdown-time-measure color-white">min.</span>
               </div>
               <span class="ddeals-countdown-time-separator color-white">:</span>
               <!-- SECONDS -->
               <div class="ddeals-countdown-time-box text-uppercase">
                  <span class="js-measure-seconds ddeals-countdown-time-value bolder">00</span>
                  <span class="ddeals-countdown-time-measure color-white">seg.</span>
               </div>
            </div>
            <span class="ddeals-text-hurryup bold color-white">¡Apúrate!</span>
         </div>
         <!-- DAILY DEALS TEMPLATE -->
         <div id="daily-deals-constructor" class="daily-deals-container no-margin is-loading">
            <a class="ddeals-link no-decoration color-dark" href="#">
               <div class="spinner-loading">
                  <div class="spinner"></div>
               </div>
               <div class="ddeals-content-image text-center">
                  <img class="b-lazy ddeals-image" src="" alt="">
               </div>
               <div class="ddeals-content-info">
                  <span class="ddeals-promo-badge">
                     <span class="ddeals-promo-badge-cmr"></span>
                     <span class="ddeals-promo-badge-combo"></span>
                  </span>
                  <div>
                     <span class="ddeals-name block"></span>
                  </div>
                  <div class="bold mb-5 mt-5 color-white inline ddeals-price-promo-wrap">
                     <span>S/</span>
                     <span class="ddeals-price-promo"></span>
                  </div>
                  <div class="ddeals-price-secondary color-brand-pink bold">
                     <span class="ddeals-price-label">Ahorro: </span>
                     <span>S/</span>
                     <span class="ddeals-amount-savings"></span>
                  </div>
                  <div class="ddeals-price-secondary">
                     <span class="ddeals-price-label">Antes: </span>
                     <span>S/</span>
                     <span class="ddeals-price-list"></span>
                  </div>
               </div>
               <div class="text-right">
                  <button class="btn btn-red letter-spacing-1 ddeals-btn-cta bold">¡Llévatelo ahora!</button>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>

<!-- SECTION IMBATIBLES/COMBOS -->
<div class="section-container-fluid section-imbatibles-combos">
   <div class="section-wrapper">
      <div class="row banner-promotional">
         <!-- <div class="col-sm-6 banner-phone-sales">
            <div>
               <a href="tel:016156002" class="no-decoration color-white">
                  <span class="icon-phone-sales"></span>
                  <span class="bfs-buy-also-calling text-uppercase">
                     <span>compra también</span>
                     <span class="bold">Llamando</span>
                  </span>
                  <span class="bfs-number bold fz-1-5x">
                     (01) 615 6002
                     <span class="bfs-extended-schedule text-uppercase">
                        <span>horario extendido</span>
                        <span>de 7 a.m a 2 a.m</span>
                     </span>
                  </span>
                  <span class="bfs-extended-schedule text-uppercase">
                     <span>horario extendido</span>
                     <span>de 7 a.m a 2 a.m</span>
                  </span>
               </a>
            </div>
         </div> -->
         <div class="col-md-4 col-sm-4 col-xs-6 ">
            <a href="/sodimac-pe/lo-mas-nuevo?cid=lnd44182">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source class="hover-effect-default"
                     srcset="https://sodimac.scene7.com/is/image/SodimacPeru/cp-dkp-lomasnuevo?wid=400&hei=113&qlt=90&op_usm=0.5,1,6,0"
                     media="(min-width: 1000px)">

                  <source class="hover-effect-default"
                     srcset="https://sodimac.scene7.com/is/image/SodimacPeru/cp-dkp-lomasnuevo?wid=400&hei=113&qlt=90&op_usm=0.5,1,6,0"
                     media="(min-width: 700px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img srcset="https://picsum.photos/300/300" alt="">-->

                  <img data-format="jpg" class="b-lazy hover-effect-default img-resp-sm rounded-3"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/cp-mb-lomasnuevo?wid=160&hei=160&qlt=90&op_usm=0.5,1,6,0"
                     alt="Banner Imbatibles">
               </picture>
            </a>
         </div>

         <div class="col-md-4 col-sm-4 col-xs-6 ">
            <a href="/sodimac-pe/category/cat579038/combos?cid=lnd43428">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source class="hover-effect-default"
                     srcset="https://sodimac.scene7.com/is/image/SodimacPeru/cp-dkp-combo?wid=400&hei=113&qlt=90&op_usm=0.5,1,6,0"
                     media="(min-width: 1000px)">

                  <source class="hover-effect-default"
                     srcset="https://sodimac.scene7.com/is/image/SodimacPeru/cp-dkp-combo?wid=400&hei=113&qlt=90&op_usm=0.5,1,6,0"
                     media="(min-width: 700px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img srcset="https://picsum.photos/300/300" alt="">-->

                  <img data-format="jpg" class="b-lazy hover-effect-default img-resp-sm rounded-3"
                     data-src="https://sodimac.scene7.com/is/image/SodimacPeru/cp-mb-combo?wid=160&hei=160&qlt=90&op_usm=0.5,1,6,0"
                     alt="Banner Imbatibles">
               </picture>
            </a>
         </div>


         <div class="col-md-4 col-sm-4 col-xs-12  ">
            <a href="/sodimac-pe/category/cat3329006/imbatibles?cid=lnd43426">
               <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif] ?wid=595&hei=90&qlt=90&op_usm=0.5,1,6,0-->
                  <source class="hover-effect-default"
                     srcset="https://sodimac.scene7.com/is/image/SodimacPeru/cp-dkp-imbatible?wid=400&hei=113&qlt=90&op_usm=0.5,1,6,0"
                     media="(min-width: 1000px)">

                  <source class="hover-effect-default"
                     srcset="https://sodimac.scene7.com/is/image/SodimacPeru/cp-dkp-imbatible?wid=400&hei=113&qlt=90&op_usm=0.5,1,6,0"
                     media="(min-width: 700px)">
                  <!--[if IE 9]></video><![endif]-->
                  <!--<img srcset="https://picsum.photos/300/300" alt="">-->

                  <img data-format="jpg" class="b-lazy hover-effect-default img-resp-sm rounded-3"
                     data-src="https://s7d5.scene7.com/is/image/SodimacPeru/cp-mb-imbatible?wid=345&hei=103&qlt=90&op_usm=0.5,1,6,0"
                     alt="Banner Imbatibles">
               </picture>
            </a>
         </div>


      </div>
   </div>
</div>

<!-- SECTION LATEST PRODUCTS -->
<!--
<div class="section-container-fluid feed-products bg-grey-light">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            ¡Aprovecha! Últimas Unidades
         </h2>
      </div>
      <div class="section-heading hidden">
         <div class="centrEfecto">
            <h2 class="section-title">
               <div class="scape scapeFirst">Últimas Unidades</div>
              
            </h2>
         </div>
      </div>
      <div class="swiper-container carousel-latest-products swiper-custom-carousel js-swiper-feedproducts">
         <div class="swiper-wrapper"></div>
         <div class="swiper-wrapper">
               <div class="swiper-slide" >
                   <div class="feed-product-item">
                       <a class="no-decoration color-dark" title="Tina de Hidromasaje Rectangular 150 x 70 x 55 cm Blanca
                       DAqua" href="/sodimac-pe/product/2695847/?cid=null">
                           <div class="feed-product-img-wrapper mb-5 text-center"><img width="175" height="175" src="https://sodimac.scene7.com/is/image/SodimacPeru/2695847?$lista175$&amp;qlt=100"></div>
                           <div class="feed-product-info">
                               <h6 class="mb-5 text-uppercase feed-product-brand">D?Aqua</h6>
                               <h4 class="feed-product-name mt-5">Tina de Hidromasaje Rectangular 150 x 70 x 55 cm Blanca
                       DAqua</h4>
                               <div class="feed-product-prices posr">
                                   <h4 class="feed-product-price-primary  bold">S/ 1799</h4>
                                   <h6 class="feed-product-price-savings mb-5 ">Ahorro: S/ 1200.9</h6>
                                   <h6 class="feed-product-price-secondary mt-5 mb-20 ">Antes: S/ 2999.9</h6></div>
                               <div class="pt-10 feed-product-sale-percentage ">
                                   <div class="feed-product-progress"><span style="width:99%;"></span></div><span class="block bold text-uppercase mt-5 color-brand-event-primary">vendido al 99%</span></div>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="swiper-slide" >
                   <div class="feed-product-item">
                       <a class="no-decoration color-dark" title="Secadora 6Kg EDE062MDLW
                       Electrolux" href="/sodimac-pe/product/2017385/?cid=null">
                           <div class="feed-product-img-wrapper mb-5 text-center"><img width="175" height="175" src="https://sodimac.scene7.com/is/image/SodimacPeru/2017385?$lista175$&amp;qlt=100"></div>
                           <div class="feed-product-info">
                               <h6 class="mb-5 text-uppercase feed-product-brand">Electrolux</h6>
                               <h4 class="feed-product-name mt-5">Secadora 6Kg EDE062MDLW
                       Electrolux</h4>
                               <div class="feed-product-prices posr">
                                   <h4 class="feed-product-price-primary  bold">S/ 599</h4>
                                   <h6 class="feed-product-price-savings mb-5 ">Ahorro: S/ 200</h6>
                                   <h6 class="feed-product-price-secondary mt-5 mb-20 ">Antes: S/ 799</h6></div>
                               <div class="pt-10 feed-product-sale-percentage ">
                                   <div class="feed-product-progress"><span style="width:98%;"></span></div><span class="block bold text-uppercase mt-5 color-brand-event-primary">vendido al 98%</span></div>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="swiper-slide" >
                   <div class="feed-product-item">
                       <a class="no-decoration color-dark" title="Refrigeradora 235L GT26BPG
                       LG" href="/sodimac-pe/product/3079120/?cid=null">
                           <div class="feed-product-img-wrapper mb-5 text-center"><img width="175" height="175" src="https://sodimac.scene7.com/is/image/SodimacPeru/3079120?$lista175$&amp;qlt=100"></div>
                           <div class="feed-product-info">
                               <h6 class="mb-5 text-uppercase feed-product-brand">LG</h6>
                               <h4 class="feed-product-name mt-5">Refrigeradora 235L GT26BPG
                       LG</h4>
                               <div class="feed-product-prices posr"><span class="c-icon c-icon-2x c-icon-cmr"></span>
                                   <h4 class="feed-product-price-primary color-brand-red bold">S/ 949</h4>
                                   <h6 class="feed-product-price-savings mb-5 ">Ahorro: S/ 300</h6>
                                   <h6 class="feed-product-price-secondary mt-5 mb-20 ">Antes: S/ 1,249</h6></div>
                               <div class="pt-10 feed-product-sale-percentage ">
                                   <div class="feed-product-progress"><span style="width:99%;"></span></div><span class="block bold text-uppercase mt-5 color-brand-event-primary">vendido al 99%</span></div>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="swiper-slide" >
                   <div class="feed-product-item">
                       <a class="no-decoration color-dark" title="Pop Avengers Thanos 10''
                       Funko" href="/sodimac-pe/product/3430634/?cid=null">
                           <div class="feed-product-img-wrapper mb-5 text-center"><img width="175" height="175" src="https://sodimac.scene7.com/is/image/SodimacPeru/3430634?$lista175$&amp;qlt=100"></div>
                           <div class="feed-product-info">
                               <h6 class="mb-5 text-uppercase feed-product-brand">Funko</h6>
                               <h4 class="feed-product-name mt-5">Pop Avengers Thanos 10''
                       Funko</h4>
                               <div class="feed-product-prices posr">
                                   <h4 class="feed-product-price-primary  bold">S/ 129.0</h4>
                                   <h6 class="feed-product-price-savings mb-5 ">Ahorro: S/ 60</h6>
                                   <h6 class="feed-product-price-secondary mt-5 mb-20 ">Antes: S/ 189</h6></div>
                               <div class="pt-10 feed-product-sale-percentage ">
                                   <div class="feed-product-progress"><span style="width:99%;"></span></div><span class="block bold text-uppercase mt-5 color-brand-event-primary">vendido al 99%</span></div>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="swiper-slide" >
                   <div class="feed-product-item">
                       <a class="no-decoration color-dark" title="Laptop 11.6'' Vivobook Celeron E203 4GB 500GB" href="/sodimac-pe/product/2702118/?cid=null">
                           <div class="feed-product-img-wrapper mb-5 text-center"><img width="175" height="175" src="https://sodimac.scene7.com/is/image/SodimacPeru/2702118?$lista175$&amp;qlt=100"></div>
                           <div class="feed-product-info">
                               <h6 class="mb-5 text-uppercase feed-product-brand">Asus</h6>
                               <h4 class="feed-product-name mt-5">Laptop 11.6'' Vivobook Celeron E203 4GB 500GB</h4>
                               <div class="feed-product-prices posr">
                                   <h4 class="feed-product-price-primary  bold">S/ 699</h4>
                                   <h6 class="feed-product-price-savings mb-5 ">Ahorro: S/ 700</h6>
                                   <h6 class="feed-product-price-secondary mt-5 mb-20 ">Antes: S/ 1399</h6></div>
                               <div class="pt-10 feed-product-sale-percentage ">
                                   <div class="feed-product-progress"><span style="width:98%;"></span></div><span class="block bold text-uppercase mt-5 color-brand-event-primary">vendido al 98%</span></div>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="swiper-slide" >
                   <div class="feed-product-item">
                       <a class="no-decoration color-dark" title="Televisor Smart QLED Ultra HD 65'' QN65Q6FNAGXPE
                       Samsung" href="/sodimac-pe/product/2961865/?cid=null">
                           <div class="feed-product-img-wrapper mb-5 text-center"><img width="175" height="175" src="https://sodimac.scene7.com/is/image/SodimacPeru/2961865?$lista175$&amp;qlt=100"></div>
                           <div class="feed-product-info">
                               <h6 class="mb-5 text-uppercase feed-product-brand">Samsung</h6>
                               <h4 class="feed-product-name mt-5">Televisor Smart QLED Ultra HD 65'' QN65Q6FNAGXPE
                       Samsung</h4>
                               <div class="feed-product-prices posr"><span class="c-icon c-icon-2x c-icon-cmr"></span>
                                   <h4 class="feed-product-price-primary color-brand-red bold">S/ 3,949</h4>
                                   <h6 class="feed-product-price-savings mb-5 ">Ahorro: S/ 50</h6>
                                   <h6 class="feed-product-price-secondary mt-5 mb-20 ">Antes: S/ 3999</h6></div>
                               <div class="pt-10 feed-product-sale-percentage ">
                                   <div class="feed-product-progress"><span style="width:98%;"></span></div><span class="block bold text-uppercase mt-5 color-brand-event-primary">vendido al 98%</span></div>
                           </div>
                       </a>
                   </div>
               </div>
           </div>
         <div class="swiper-pagination swiper-feedproducts-pagination"></div>
         <div class="swiper-custom-button swiper-custom-button-prev swiper-feedproducts-button-prev"></div>
         <div class="swiper-custom-button swiper-custom-button-next swiper-feedproducts-button-next"></div>
      </div>
   </div>
</div>
-->