<div class="section-container-fluid section-product-panel bg-grey-lighter">
   <div class="section-wrapper">
      <div class="fullw swiper-container swiper-tabs swiper-tabs-1">
         <div class="swiper-container swiper-tabs-nav">
            <div class="swiper-wrapper">
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-electrohogar"></span>
                     <span>Electrohogar y climatización</span>
                  </div>
               </div>
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-muebles-y-organizacion"></span>
                     <span>Muebles y organizacion</span>
                  </div>
               </div>
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-terrazas-jardin-y-mascotas"></span>
                     <span>Terrazas, Jardín y Mascotas</span>
                  </div>
               </div>
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-banos-y-cocinas"></span>
                     <span>Baños y cocinas</span>
                  </div>
               </div>
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-gasfiteria-y-electricidad"></span>
                     <span>Gasfiteria y Electricidad</span>
                  </div>
               </div>
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-puertas-y-ventanas"></span>
                     <span>Puertas y Ventanas</span>
                  </div>
               </div>
               <div class="swiper-slide text-center" role="button">
                  <div class="swiper-slide-tabs-nav-inner">
                     <span class="c-icon-cat c-icon-cat-herramientas-y-autos"></span>
                     <span>Herramientas y Autos</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="swiper-container swiper-tabs-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide text-center" data-cat-id="cat3179002" data-cat-name="Electrohogar y climatización" data-cat-icon-class="c-icon-cat c-icon-cat-electrohogar">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
               <div class="swiper-slide text-center" data-cat-id="cat3179005" data-cat-name="Muebles y organizacion" data-cat-icon-class="c-icon-cat c-icon-cat-muebles-y-organizacion">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
               <div class="swiper-slide text-center" data-cat-id="cat3649002" data-cat-name="Terrazas, Jardín y Mascotas" data-cat-icon-class="c-icon-cat c-icon-cat-terrazas-jardin-y-mascotas">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
               <div class="swiper-slide text-center" data-cat-id="cat3179006" data-cat-name="Baños y cocinas" data-cat-icon-class="c-icon-cat c-icon-cat-banos-y-cocinas">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
               <div class="swiper-slide text-center" data-cat-id="cat2839003" data-cat-name="Gasfiteria y Electricidad" data-cat-icon-class="c-icon-cat c-icon-cat-gasfiteria-y-electricidad">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
               <div class="swiper-slide text-center" data-cat-id="cat4439004" data-cat-name="Puertas y Ventanas" data-cat-icon-class="c-icon-cat c-icon-cat-puertas-y-ventanas">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
               <div class="swiper-slide text-center" data-cat-id="cat3649003" data-cat-name="Herramientas y Autos" data-cat-icon-class="c-icon-cat c-icon-cat-herramientas-y-autos">
                  <div class="spinner-loading no-bg">
                     <div class="spinner"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>