<div class="section-container hidden feed-products">
    <div class="section-wrapper">
        <div class="section-heading">
            <h2 class="section-title">
                Últimas unidades ¡Apresúrate!
            </h2>
        </div>
        <div class="swiper-container js-swiper-feedproducts">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination swiper-feedproducts-pagination"></div>
            <div class="swiper-custom-button swiper-custom-button-prev swiper-feedproducts-button-prev"></div>
            <div class="swiper-custom-button swiper-custom-button-next swiper-feedproducts-button-next"></div>
        </div>
    </div>
</div>