<div class="section-container-fluid section-our-brands bg-grey-lighter">
   <div class="section-wrapper">
      <div class="section-heading">
         <h2 class="section-title">
            Nuestras Marcas
         </h2>
      </div>
      <div class="swiper-container swiper-custom-carousel">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <a href="#">
                  <!--<img class="swiper-lazy" data-src="https://picsum.photos/235/150" alt="">-->
                  <img class="swiper-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/marca-wurden?wid=230&hei=120" alt="Banner marca Wurden">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="#">
                  <!--<img class="swiper-lazy" data-src="https://picsum.photos/235/150" alt="">-->
                  <img class="swiper-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/marca-recco?wid=230&hei=120" alt="Banner marca Recco">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="#">
                  <!--<img class="swiper-lazy" data-src="https://picsum.photos/235/150" alt="">-->
                  <img class="swiper-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/marca-mr-beef?wid=230&hei=120" alt="Banner marca Mr Beef">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="#">
                  <!--<img class="swiper-lazy" data-src="https://picsum.photos/235/150" alt="">-->
                  <img class="swiper-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/marca-klimber?wid=230&hei=120" alt="Banner marca Klimber">
               </a>
            </div>
            <div class="swiper-slide">
               <a href="#">
                  <!--<img class="swiper-lazy" data-src="https://picsum.photos/235/150" alt="">-->
                  <img class="swiper-lazy" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/marca-bauker?wid=230&hei=120" alt="Banner marca Bauker">
               </a>
            </div>
         </div>
         <div class="swiper-custom-button swiper-custom-button-prev slider-our-brands-btn-prev"></div>
         <div class="swiper-custom-button swiper-custom-button-next slider-our-brands-btn-next"></div>
      </div>
   </div>
</div>