<style>
@media (min-width: 801px) {
   .section-promotions .swiper-slide:first-child{
      width: 470px !important;
      max-width: none;
   }
}
</style>


<!-- CAROUSEL NIGHT PRODUCTS -->

   <div class="section-container-fluid section-night-products feed-products bg-grey-lighter hidden">
      <div class="section-wrapper">
         <div class="section-heading">
            <h2 class="section-title">
               ¡Oportunidades Express!
            </h2>
         </div>
         <div class="swiper-container swiper-custom-carousel js-swiper-nightproducts">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination swiper-nightproducts-pagination hidden"></div>
            <div class="swiper-custom-button swiper-custom-button-prev swiper-nightproducts-button-prev"></div>
            <div class="swiper-custom-button swiper-custom-button-next swiper-nightproducts-button-next"></div>
         </div>
      </div>
   </div>
   
   <div class="section-container-fluid section-promotions hidden">
      <div class="section-wrapper">
         <div class="section-heading">
            <h2 class="section-title">
               Promociones
            </h2>
         </div>
         <div class="swiper-container swiper-custom-carousel hidden">
            <div class="swiper-wrapper">
               <div class="swiper-slide box-with-button">
                  <a href="/sodimac-pe/category/cat3049003/Todo-a-menos-de-99?cid=lnd42709">
                     <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                     <!-- <img
                        class="swiper-lazy hover-effect-default"
                        data-src="https://sodimac.scene7.com/is/image/SodimacPeru/ban-todoa99?wid=235&hei=240&12545250"
                        alt="Banner Todo a menos de 99"> -->
                        <picture>
                           <!--[if IE 9]><video style="display: none;"><![endif]-->
                           <source class="swiper-lazy hover-effect-default" srcset="https://sodimac.scene7.com/is/image/SodimacPeru/ban-todoa99-1?wid=470&hei=240&12545250" media="(min-width: 800px)">
                           <source class="swiper-lazy hover-effect-default" srcset="https://sodimac.scene7.com/is/image/SodimacPeru/ban-todoa99?wid=235&hei=240&12545250" media="(max-width: 799px)">
                           <!--[if IE 9]></video><![endif]-->
                           <!--<img data-format="jpg" class="b-lazy hover-effect-default" data-srcset="https://picsum.photos/300/300" alt="">-->
                           <img data-format="jpg" class="swiper-lazy hover-effect-default" data-src="https://sodimac.scene7.com/is/image/SodimacPeru/ban-todoa99?wid=235&hei=240&12545250" alt="Banner ahorro en Grillcorp">
                        </picture>
                        <div class="box-button">
                           <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </div>
                  </a>
               </div>
               <div class="swiper-slide box-with-button">
                  <a title="40% Ahorro mundo maleta" href="/sodimac-pe/category/cat2889002/Maletas?cid=lnd42667">
                     <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                     <img 
                        class="swiper-lazy hover-effect-default"
                        data-src="https://sodimac.scene7.com/is/image/SodimacPeru/mundo-maleta-1?wid=235&hei=240&12545250"
                        alt="Banner ahorro en mundo maleta">
                     <div class="box-button">
                        <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                     </div>
                  </a>
               </div>
               <div class="swiper-slide box-with-button">
                  <a href="/sodimac-pe/category/cat1789012/Especial-Mascotas?cid=lnd42383">
                     <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                     <img 
                        class="swiper-lazy hover-effect-default"
                        data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-mascota?wid=235&hei=240&12545250"
                        alt="Banner ahorro en productos de mascotas">
                        <div class="box-button">
                           <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </div>
                  </a>
               </div>
               <div class="swiper-slide box-with-button">
                  <a href="/sodimac-pe/category/cat4569005/Renueva-tu-dormitorio-desde-449?cid=lnd42379">
                     <!--<img class="swiper-lazy hover-effect-default" data-src="https://picsum.photos/235/240" alt="">-->
                     <img
                        class="swiper-lazy hover-effect-default"
                        data-src="https://sodimac.scene7.com/is/image/SodimacPeru/banner-renueva-tu-dormitorio?wid=235&hei=240&12545250"
                        alt="Banner Renueva tu dormitorio">
                     <div class="box-button">
                        <span>Descubre más <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                     </div>
                  </a>
               </div>
            </div>
            <div class="swiper-custom-button swiper-custom-button-prev slider-promotions-btn-prev"></div>
            <div class="swiper-custom-button swiper-custom-button-next slider-promotions-btn-next"></div>
         </div>
      </div>
   </div>